<script>
	let auth = require('./../services/Auth');
	export default {
		created(){
			auth.getUserInfo();
		},
		data(){
			return {
				passwords: {
					current: null,
					new: null,
					re_new: null
				}
			};
		},
		methods: {
			changePassword(){
				auth.changePassword(this.passwords, this);
			}
		}
	}
</script>

<template>
	<div id="change-password-form">
		<div class="row">
		    <div class="form -center col-md-9 col-xs-12">
		        <form id="request-form" action="#" @submit.prevent="changePassword()">
		            <div class="submit-panel col-md-12">
		                <label class="col-md-5"><span>CURRENT PASSWORD</span></label>
		                <input class="col-md-7" type="password" placeholder="Your Current Password" v-model="passwords.current" name="current" required>
		            </div>

		            <div class="submit-panel col-md-12">
		                <label class="col-md-5"><span>NEW PASSWORD</span></label>
		                <input class="col-md-7" type="password" placeholder="Your New Password" v-model="passwords.new" name="new" required>
		            </div>

		            <div class="submit-panel col-md-12">
		                <label class="col-md-5"><span>RE-ENTER PASSWORD</span></label>
		                <input class="col-md-7" type="password" placeholder="Re-enter New Password" v-model="passwords.re_new" name="re_new" required>
		            </div>
		            <div class="submit-panel col-md-12 col-xs-12 change-password-btn text-center" style="margin-top: 15px; padding-bottom: 20px;">
			            <button type="submit" class="btn -default half-submit-btn">Submit</button>
		            </div>
		        </form>
		    </div>
		</div>
	</div>
</template>