<script>
	export default {
		props: ['items'],
		computed: {
			itemColClass(){
				let colWidth = (12 / this.items.length);
				return `col-md-${colWidth} col-xs-${colWidth}`;
			}
		}
	}
</script>

<template>
	<ul id="menu-tabs" class="nav nav-tabs">
		<li v-for="item in items"
			:class="itemColClass">
			<router-link :class="item.class" :to="item.href">
				{{ item.title }}
			</router-link>
		</li>
	</ul>
</template>