<script>
	export default {
		data(){
			return {};
		}
	}
</script>

<template>
	<div class="request-list">
		<div id="user-list">
		    <div class="row">
		        <div class="add-whitespace -md"></div>
		        <div class="no-space -horizontal col-md-12 col-xs-12">
		            <div class="col-md-3 col-xs-12">
		                <div class="select-wrapper col-md-12 col-xs-12">
		                    <input class="col-md-12 col-xs-12" placeholder="Search" type="text" name="search">
		                    <a href="#" class="btn icon -search -default"></a>
		                </div>
		            </div>
		            
		            <div class="_no-padding col-md-3 col-xs-12">
		                <div class="select-wrapper -calendar col-md-12 col-xs-12">
		                    <input type="text" id="#datepicker_requested" class="datepicker col-md-12 col-xs-12" placeholder="Date Requested">
		                </div>
		            </div>

		            <div class="col-md-3 col-xs-12">
		                <div class="select-wrapper -caret col-md-12 col-xs-12">
		                    <select class="text -grey -normal col-md-12 col-xs-12">
		                        <option selected disabled>Form Type</option>
		                        <option value="one">1</option>
		                        <option value="two">2</option>
		                        <option value="three">3</option>
		                    </select>
		                </div>
		            </div>

		            <div class="col-md-3 col-xs-12">
		                <div class="select-wrapper -caret col-md-12 col-xs-12">
		                    <select class="text -grey -normal col-md-12 col-xs-12">
		                        <option selected disabled>Status</option>
		                        <option value="one">1</option>
		                        <option value="two">2</option>
		                        <option value="three">3</option>
		                    </select>
		                </div>
		            </div>
		        </div>

		        <div class="add-space -top no-space -horizontal col-md-12 col-xs-12">
		            <div class="add-whitespace -lg"></div>
		            <!--<span class="title text -dark col-md-12"><b>ADVANCED SEARCH</b></span>-->
		            <div class="no-space -horizontal col-md-3 col-xs-12">
		                <label class="col-md-6 col-xs-12"><span class="text -dark -thin">Bulk Action</span></label>
		                <div class="select-wrapper -caret col-md-6 col-xs-12">
		                    <select class="col-md-12 col-xs-12">
		                        <option value="one">1</option>
		                        <option value="two">2</option>
		                        <option value="three">3</option>
		                    </select>
		                </div>
		            </div>

		        </div>
		    </div>

		    <div class="submit-panel row">
		        <div class="table-responsive">
		            <table id="tableView" class="table table-striped">
		                <thead>
		                    <tr>
		                        <th>
		                            <input id="check1" class="radio-custom" name="radio-group" type="checkbox">
		                            <label for="check1" class="radio-custom-label"><span class="checker"></span></label>
		                        </th>
		                        <th>Date Requested</th>
		                        <th>Form Type</th>
		                        <th>Employee Name</th>
		                        <th>Endorsed By</th>
		                        <th>Approved By</th>
		                        <th>Departure Date</th>
		                        <th>Departure Time</th>
		                        <th>Return Date</th>
		                        <th>Return Time</th>
		                        <th>Status</th>
		                        <th>Action</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr>
		                        <td>
		                            <input id="check2" class="radio-custom" name="radio-group" type="checkbox">
		                            <label for="check2" class="radio-custom-label"><span class="checker"></span></label>
		                        </td>
		                        <td>02/22/2016</td>
		                        <td>Vehicle</td>
		                        <td>Egg Couture</td>
		                        <td>Toto Marinata</td>
		                        <td>Eggar Morbid</td>
		                        <td>02/22/2016</td>
		                        <td>02/22/2016</td>
		                        <td>02/22/2016</td>
		                        <td>02/22/2016</td>
		                        <td>Denied</td>
		                        <td><a class="get-options" href="#">Endorse</a></td>
		                    </tr>
		                    <tr>
		                        <td>
		                            <input id="check3" class="radio-custom" name="radio-group" type="checkbox">
		                            <label for="check3" class="radio-custom-label"><span class="checker"></span></label>
		                        </td>
		                        <td>02/22/2016</td>
		                        <td>Vehicle</td>
		                        <td>Egg Couture</td>
		                        <td>Toto Marinata</td>
		                        <td>Eggar Morbid</td>
		                        <td>02/22/2016</td>
		                        <td>02/22/2016</td>
		                        <td>02/22/2016</td>
		                        <td>02/22/2016</td>
		                        <td>Denied</td>
		                        <td><a class="get-options" href="#">Endorse</a></td>
		                    </tr>
		                    <tr>
		                        <td>
		                            <input id="check4" class="radio-custom" name="radio-group" type="checkbox">
		                            <label for="check4" class="radio-custom-label"><span class="checker"></span></label>
		                        </td>
		                        <td>02/22/2016</td>
		                        <td>Vehicle</td>
		                        <td>Egg Couture</td>
		                        <td>Toto Marinata</td>
		                        <td>Eggar Morbid</td>
		                        <td>02/22/2016</td>
		                        <td>02/22/2016</td>
		                        <td>02/22/2016</td>
		                        <td>02/22/2016</td>
		                        <td>Denied</td>
		                        <td><a class="get-options" href="#">Endorse</a></td>
		                    </tr>
		                </tbody>
		            </table>
		        </div>
		    </div>
		</div>

		<div id="list-options">
		    <div class="row">
		        <div class="form -center col-md-9 col-xs-12">
		            <label class="col-md-12 col-xs-12"><span class="text -md -dark -thick">Itinerary Gate Pass</span></label>

		            <div class="row">
		                <div class="col-xs-12">
		                    <div id="itineraryView" class="">

		                        <div class="no-space -horizontal col-md-12 col-xs-12">
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Name</span></label>
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">Toto Amazo</span></label>
		                        </div>

		                        <div class="no-space -horizontal col-md-12 col-xs-12">
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Departure Date</span></label>
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">01/02/2016</span></label>

		                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thick">Time</span></label>
		                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thin">01/02/2016</span></label>
		                        </div>

		                        <div class="no-space -horizontal col-md-12 col-xs-12">
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Return Date</span></label>
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">01/02/2016</span></label>

		                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thick">Time</span></label>
		                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thin">01/02/2016</span></label>
		                        </div>

		                        <div class="no-space -horizontal col-md-12 col-xs-12">
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Purpose</span></label>
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">Lorem ipsum dolor sit amet</span></label>
		                        </div>

		                        <div class="no-space -horizontal col-md-12 col-xs-12">
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Endorser</span></label>
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">Eggar Morbid</span></label>
		                        </div>

		                    </div>
		                </div>
		            </div>

		            <hr>

		            <div class="add-space -top row">
		                <div class="col-md-12 col-xs-12">

		                    <label class="col-md-4 col-xs-12">
		                        <input class="radio-custom" name="radio-group" type="checkbox">
		                        <span class="text -sm -dark -thin">Departure Date</span></label>
		                    <div class="select-wrapper -calendar col-md-4 col-xs-12">
		                        <input type="text" id="datepicker_departure1" class="datepicker col-md-12 col-xs-12">
		                    </div>

		                    <label class="col-md-2 col-xs-12"><span class="text -sm -dark -thin">Time</span></label>
		                    <input class="col-md-2 col-xs-12" type="text" name="time" required>
		                </div>
		            </div>

		            <div class="add-space -top row">
		                <div class="submit-panel col-md-6">
		                    <a href="#" class="btn -default get-info">Endorse</a>
		                    <!--                <button class="btn -default" type="submit">login</button>-->
		                </div>
		                <div class="submit-panel col-md-6">
		                    <a data-toggle="modal" data-target="#modalPopup" class="btn -error">Decline</a>
		                    <!--                <button class="btn -default" type="submit">login</button>-->
		                </div>
		            </div>

		        </div>
		    </div>

		</div>


		<div id="list-info">
		    <div class="row">
		        <div class="form -center col-md-9 col-xs-12">
		            <label class="col-md-12"><span class="text -md -dark -thick">Itinerary Gate Pass</span></label>

		            <div class="row">
		                <div class="col-xs-12">
		                    <div id="itineraryView" class="">

		                        <div class="no-space -horizontal col-md-12 col-xs-12">
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Name</span></label>
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">Toto Amazo</span></label>
		                        </div>

		                        <div class="no-space -horizontal col-md-12 col-xs-12">
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Departure Date</span></label>
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">01/02/2016</span></label>

		                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thick">Time</span></label>
		                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thin">01/02/2016</span></label>
		                        </div>

		                        <div class="no-space -horizontal col-md-12 col-xs-12">
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Return Date</span></label>
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">01/02/2016</span></label>

		                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thick">Time</span></label>
		                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thin">01/02/2016</span></label>
		                        </div>

		                        <div class="no-space -horizontal col-md-12 col-xs-12">
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Purpose</span></label>
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">Lorem ipsum dolor sit amet</span></label>
		                        </div>

		                        <div class="no-space -horizontal col-md-12 col-xs-12">
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Endorser</span></label>
		                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">Eggar Morbid</span></label>
		                        </div>

		                    </div>
		                </div>
		            </div>

		            <hr>

		            <div class="add-space -top row">
		                <div class="col-md-12 col-xs-12">

		                    <div class="col-md-12 no-space -horizontal col-md-12 col-xs-12">
		                        <label class="col-md-4 col-xs-12"><span class="text -sm -dark -thick">Status</span></label>
		                        <label class="col-md-4 col-xs-12"><span class="text -sm -thin">ENDORSED</span></label>
		                    </div>
		                </div>
		            </div>

		            <div class="add-space -top row">
		                <div class="submit-panel col-md-6 center">
		                    <a href="#" class="btn -default back-list">Back</a>
		                    <!--                <button class="btn -default" type="submit">login</button>-->
		                </div>
		            </div>

		        </div>
		    </div>

		</div>
	</div>
</template>