<script>
	let auth = require('./../services/Auth');
	export default {
		created(){
			
		},
		props: {
			requests: { default: null },
			loading: { default: null },
			tableConfig: { default: null },
			pickerOptions: { default: null },
			changePage: { default: null },
			search: { default: null },
			type: { default: null },
			applyBulkAction: {
				type: Function,
				default: function(val){}
			},
			handleSelectionChange: {
				type: Function,
				default: function(val){}
			},
			bulkActionOptions: {
				type: Array,
				default: () => []
			},
			rowActions: {
				type: Array,
				default: () => []
			},
			rowClickable: { default: false }
		},
		data(){
			return {
				selectedBulkAction: '',
				userRole: auth.userRole()
			};
		},
		computed: {
			hasViewAction: function(){
				return (_.indexOf(this.rowActions, 'view') > -1);
			},
			hasEndorseAction: function(){
				return (_.indexOf(this.rowActions, 'endorse') > -1);
			},
			hasApproveAction: function(){
				return (_.indexOf(this.rowActions, 'approve') > -1);
			}
		},
		methods: {
			viewRequestInfo(row, event, column){
				if(!this.rowClickable) return false;
				// if(!this.hasViewAction) return false;
				// if(this.hasEndorseAction && row.status == 'Endorsement'){
				// 	this.$router.replace('/notifications/' + row.id + '/endorse');
				// 	return true;
				// }
				// if(this.hasApproveAction && row.status == 'Approval'){
				// 	this.$router.replace('/notifications/' + row.id + '/approve');
				// 	return true;
				// }
				// if(this.hasViewAction){
					this.$router.replace('/request/' + row.id + '/details');
				// }
			}
		}
	}
</script>

<template>
	<div class="request-records">
		<div class="user-filter row">
		    <div class="col-md-12 col-xs-12">
		        	<form @submit.prevent="search()" class="row">
			            <div class="col-md-3 col-xs-6">
		                    <el-date-picker
		                    	v-model="tableConfig.search.date_requested"
		                    	type="date"
		                    	placeholder="Date Requested"
		                    	format="MM/dd/yyyy"
		                    	:editable="false"
		                    	@change="search"
								:picker-options="pickerOptions">
		                    </el-date-picker>
			            </div>

			            <div class="col-md-3 col-xs-6">
			                <div class="select-wrapper -caret">
			                    <select class="text -grey -normal col-md-12 col-xs-12 req-filter"
			                    		v-model="tableConfig.search.form_type"
				                    	@change="search">
			                        <option value="">Form Type</option>
			                        <option value="Itinerary">Itinerary</option>
			                        <option value="Vehicle">Vehicle</option>
			                        <option value="Item">Item</option>
			                        <option value="Vehicle & Item">Vehicle &amp; Item</option>
			                    </select>
			                </div>
			            </div>

			            <div class="col-md-3 col-xs-6">
			                <div class="select-wrapper -caret">
			                    <select class="text -grey -normal col-md-12 col-xs-12 req-filter"
			                    		v-model="tableConfig.search.status"
				                    	@change="search">
			                        <option value="">Status</option>
			                        <option value="endorsement">Endorsement</option>
			                        <option value="approval">Approval</option>
			                        <option value="approved">Approved</option>
			                        <option value="declined">Declined</option>
			                        <option value="expired">Expired</option>
			                    </select>
			                </div>
			            </div>

        	        	<div class="col-md-3 col-xs-6">
                	    	<div class="select-wrapper">
                	    		<div class="input-group _full-width">
                	    			<input class="req-filter" placeholder="Search" type="text" name="search" v-model="tableConfig.search.keyword" @input="search">
                	    			<button type="submit" class="btn icon -search -default"></button>
                	    		</div>
                	    	</div>
        	        	</div>
		            </form>

		    </div>
		    <div class="no-space -horizontal col-md-12 col-xs-12"
		    		v-if="type == 'selection'">
			    <div class="col-sm-6 col-md-4">
	    		    <div class="_no-padding col-xs-12">
		    		    <div class="select-wrapper -caret col-md-6 col-xs-12">
		    	    		<select name="bulk_action" id="bulk_action" class="_full-width req-filter col-md-12 col-xs-12" v-model="selectedBulkAction">
		    	    			<option value="">Bulk Action</option>
		    	    			<option :value="option.value"
		    	    					v-for="option in bulkActionOptions">{{ option.label }}</option>
		    	    		</select>
		    	    	</div>
	    	    		<div class="col-md-6 bulk-action-requests-btn">
	    	    			<button type="button" class="btn -default col-md-12 control -sm req-filter" @click="applyBulkAction(selectedBulkAction)">APPLY</button>
	    	    		</div>
	    		    </div>
			    </div>
		    </div>
		</div>

		<div class="row">
	        <div class="col-md-12">
				<el-table
					:data="requests.data"
					border
					selection-mode="multiple"
					v-loading="loading"
				    element-loading-text="Loading..."
					style="width: 100%"
					@selection-change="handleSelectionChange"
					@row-click="viewRequestInfo"
					:stripe="true">

					<el-table-column
						type="selection"
						v-if="type == 'selection'">
					</el-table-column>

					<el-table-column
						property="date_requested"
						sortable
						label="Date Requested"
						:resizable="false">
					</el-table-column>

					<el-table-column
						inline-template
						sortable
						label="Form Type"
						:resizable="false">
						<div>
							<span class="label" :class="{ 'label-warning': (row.status == 'Endorsement'), 'label-success': (row.status == 'Approved'), 'label-primary': (row.status == 'Approval'), 'label-danger': (row.status == 'Declined' || row.status == 'Expired') }">{{ row.status }}</span>
							{{ row.form_type }}
						</div>
					</el-table-column>

					<el-table-column
						property="employee_name"
						sortable
					    :resizable="false"
						label="Employee Name"
						show-overflow-tooltip>
					</el-table-column>

					<el-table-column
						property="guest"
						sortable
						label="Guest Name"
						:resizable="false"
						show-overflow-tooltip>
					</el-table-column>

					<el-table-column
						property="departure_date"
						sortable
						label="Departure Date"
						:resizable="false"
						show-overflow-tooltip>
					</el-table-column>
					
					<el-table-column
						inline-template
						v-if="hasEndorseAction || hasApproveAction || hasViewAction"
						label="Actions"
						:resizable="false">
						<div>
							<span v-if="(!(hasEndorseAction && row.status == 'Endorsement') && !(hasApproveAction && row.status == 'Approval' || userRole == 'admin') && !(hasViewAction && !rowClickable))">
								---------
							</span>
							<span v-if="hasEndorseAction && row.status == 'Endorsement'">
								<router-link :to="'/notifications/' + row.id + '/endorse'" title="Process" class="btn btn-xs btn-primary tbl-btn">
									<!-- <i class="fa fa-check-square-o"></i> -->
									Process
								</router-link>
							</span>
							<span v-if="hasApproveAction && row.status == 'Approval' || userRole == 'admin' && row.status != 'Approved' && row.status != 'Declined' && row.status != 'Expired'">
								<router-link :to="'/notifications/' + row.id + '/approve'" title="Process" class="btn btn-xs btn-primary tbl-btn">
									<!-- <i class="fa fa-thumbs-o-up"></i> -->
									Process
								</router-link>
							</span>

							<!-- <span v-if="hasViewAction && !rowClickable"> -->
								<!-- <router-link :to="'/request/' + row.id + '/details'" title="Approve" class="btn btn-xs btn-primary tbl-btn"> -->
									<!-- <i class="fa fa-thumbs-o-up"></i> -->
									<!-- View -->
								<!-- </router-link> -->
							<!-- </span> -->
						</div>
					</el-table-column>

				</el-table>
				<div class="table-pagination text-right">
					<el-pagination
						:layout="tableConfig.layout"
						:page-size="tableConfig.size"
						:total="requests.total"
						:current-page="tableConfig.currentPage"
						@current-change="changePage">
					</el-pagination>
				</div>
	        </div>
	    </div>
	</div>
</template>