<script>
	export default {
		created(){
			
		},
		props: {
			requests: { default: null },
			loading: { default: null },
			tableConfig: { default: null },
			pickerOptions: { default: null },
			changePage: { default: null },
			search: { default: null },
			type: { default: null },
			applyBulkAction: {
				type: Function,
				default: function(val){}
			},
			handleSelectionChange: {
				type: Function,
				default: function(val){}
			},
			bulkActionOptions: {
				type: Array,
				default: () => []
			},
			rowActions: {
				type: Array,
				default: () => ['view']
			}
		},
		data(){
			return {
				selectedBulkAction: ''
			};
		},
		computed: {
			hasViewAction: function(){
				return (_.indexOf(this.rowActions, 'view') > -1);
			},
			hasEndorseAction: function(){
				return (_.indexOf(this.rowActions, 'endorse') > -1);
			},
			hasApproveAction: function(){
				return (_.indexOf(this.rowActions, 'approve') > -1);
			}
		}
	}
</script>

<template>
	<div class="request-records">
		<div class="row">
		    <div class="add-whitespace -sm"></div>
		    <div class="add-space -top no-space -horizontal col-md-12 col-xs-12">
		        <div class="no-space -horizontal col-md-12 col-xs-12">
		        	<form @submit.prevent="search()">
			            <div class="_no-padding col-md-3 col-xs-12">
			                <div class="col-md-12 col-xs-12">
			                    <el-date-picker
			                    	v-model="tableConfig.search.date_requested"
			                    	type="date"
			                    	placeholder="Date Requested"
			                    	format="MM/dd/yyyy"
			                    	:editable="false"
									:picker-options="pickerOptions">
			                    </el-date-picker>
			                </div>
			            </div>

			            <div class="col-md-3 col-xs-12">
			                <div class="select-wrapper -caret col-md-12 col-xs-12">
			                    <select class="text -grey -normal col-md-12 col-xs-12 req-filter"
			                    		v-model="tableConfig.search.form_type">
			                        <option value="">Form Type</option>
			                        <option value="Itinerary">Itinerary</option>
			                        <option value="Vehicle">Vehicle</option>
			                        <option value="Item">Item</option>
			                        <option value="Vehicle & Item">Vehicle &amp; Item</option>
			                    </select>
			                </div>
			            </div>

			            <div class="col-md-3 col-xs-12">
			                <div class="select-wrapper -caret col-md-12 col-xs-12">
			                    <select class="text -grey -normal col-md-12 col-xs-12 req-filter"
			                    		v-model="tableConfig.search.status">
			                        <option value="">Status</option>
			                        <option value="endorsement">Endorsement</option>
			                        <option value="approval">Approval</option>
			                        <option value="approved">Approved</option>
			                        <option value="declined">Declined</option>
			                        <option value="expired">Expired</option>
			                    </select>
			                </div>
			            </div>

        	        	<div class="col-md-3 col-xs-12">
                	    	<div class="select-wrapper col-md-12 col-xs-12">
                	    	    <input class="col-md-12 col-xs-12 req-filter" placeholder="Search" type="text" name="search" v-model="tableConfig.search.keyword">
                	    	    <button type="submit" class="btn icon -search -default"></a>
                	    	</div>
        	        	</div>
		            </form>
		        </div>

		    </div>
		    <div class="no-space -horizontal col-md-12 col-xs-12"
		    		v-if="type == 'selection'">
			    <div class="col-sm-4">
	    		    <div class="_no-padding col-xs-12">
		    		    <div class="select-wrapper -caret col-md-6 col-xs-12">
		    	    		<select name="bulk_action" id="bulk_action" class="_full-width req-filter" v-model="selectedBulkAction">
		    	    			<option value="">Bulk Action</option>
		    	    			<option :value="option.value"
		    	    					v-for="option in bulkActionOptions">{{ option.label }}</option>
		    	    		</select>
		    	    	</div>
		    	    	<div class="col-md-4">
		    	    		<button type="button" class="btn -default col-md-12 control -sm req-filter" @click="applyBulkAction(selectedBulkAction)">APPLY</button>
		    	    	</div>
	    		    </div>
			    </div>
		    </div>
		</div>

		<div class="row">
	        <div class="col-md-12">
				<el-table
					:data="requests.data"
					border
					selection-mode="multiple"
					v-loading="loading"
				    element-loading-text="Loading..."
					style="width: 100%"
					@selection-change="handleSelectionChange">

					<el-table-column
						type="selection"
						width="50"
						fixed
						v-if="type == 'selection'">
					</el-table-column>

					<el-table-column
						property="date_requested"
						sortable
						fixed
						label="DATE REQUESTED"
						width="170">
					</el-table-column>

					<el-table-column
						property="form_type"
						sortable
						fixed
						label="FORM TYPE"
						width="170">
					</el-table-column>

					<el-table-column
						property="employee_name"
						sortable
						fixed
						label="EMPLOYEE NAME"
						width="170"
						show-overflow-tooltip>
					</el-table-column>

					<el-table-column
						property="endorser"
						sortable
						label="ENDORSED BY"
						width="170"
						show-overflow-tooltip>
					</el-table-column>

					<el-table-column
						property="approver"
						sortable
						label="APPROVED BY"
						width="170"
						show-overflow-tooltip>
					</el-table-column>

					<el-table-column
						property="departure_date"
						sortable
						label="DEPARTURE DATE"
						width="170"
						show-overflow-tooltip>
					</el-table-column>

					<el-table-column
						property="departure_time"
						sortable
						label="DEPARTURE TIME"
						width="170"
						show-overflow-tooltip>
					</el-table-column>

					<el-table-column
						property="return_date"
						sortable
						label="RETURN DATE"
						width="170"
						show-overflow-tooltip>
					</el-table-column>

					<el-table-column
						property="return_time"
						sortable
						label="RETURN TIME"
						width="170"
						show-overflow-tooltip>
					</el-table-column>

					<el-table-column
						property="status"
						sortable
						label="STATUS"
						width="170"
						show-overflow-tooltip>
					</el-table-column>
					
					<el-table-column
						inline-template
						label="Action"
						width="170">
						<div>
							<span v-if="hasEndorseAction && row.status == 'Endorsement'">
								<router-link :to="'/notifications/' + row.id + '/endorse'">Endorse</router-link>
							</span>
							<span v-if="hasApproveAction && row.status == 'Approval'">
								<router-link :to="'/notifications/' + row.id + '/approve'">Approve</router-link>
							</span>
							<span v-if="hasViewAction">
								<router-link :to="'/request/' + row.id + '/details'">View More</router-link>
							</span>
						</div>
					</el-table-column>

				</el-table>
				<div class="table-pagination text-right">
					<el-pagination
						:layout="tableConfig.layout"
						:page-size="tableConfig.size"
						:total="requests.total"
						:current-page="tableConfig.currentPage"
						@current-change="changePage">
					</el-pagination>
				</div>
	        </div>
	    </div>
	</div>
</template>