<script>
	let auth = require('./../services/Auth');
	let requestService = require('./../services/Request');
	export default {
		created(){
			let params = {
				mode: this.mode,
				step: this.step
			};
			auth.getUserInfo(null, (response) => {
				this.username = response.data.username;
				this.getNotifications(this.username, params);
			});
		},
		data(){
			return {
				notifications: {
					pending: [],
					approval: [],
					approved: []
				},
				step: 1,
				username: null,
				mode: 'unread',
				notificationsDialog: false,
				modalNotificationsLoading: true
			};
		},
		methods: {
			getNotifications(username, params){
				this.modalNotificationsLoading = true;

				requestService.getNotificationsFor(username, params)
							.then((response) => {
								if(!response.data) return false;
								this.notifications = {
									pending: _.filter(response.data, {'type': 'pending'}),
									approval: _.filter(response.data, {'type': 'approval'}),
									approved: _.filter(response.data, {'type': 'approved'})
								};
								if((this.notifications.pending.length + this.notifications.approval.length + this.notifications.approved.length)){
									this.notificationsDialog = true;
								}
								
								this.modalNotificationsLoading = false;
							});
			},
			clearNotifications(type){
				requestService.clearNotificationsOf(_.map(this.notifications[type], 'id'), auth.user.username)
								.then((response) => {
									this.$root.$children[0].$emit('decrNotificationCount', this.notifications[type].length);
									this.notifications[type] = [];
									this.step++;
									let params = {
										mode: this.mode,
										step: this.step
									};
									this.getNotifications(this.username, params);
								});
			},
			removeNotification(type, notification){
				requestService.removeNotification(notification.id, auth.user.username)
								.then((response) => {
									this.notifications[type] = _.filter(this.notifications[type], (val) => {
										return val != notification;
									});
									this.$root.$children[0].$emit('decrNotificationCount', 1);
									this.step++;
									let params = {
										mode: this.mode,
										step: this.step
									};
									this.getNotifications(this.username, params);
								});
			},
			viewNotification(path){
				this.$root.$children[0].$emit('notificationClicked', path);
				this.hide();
			},
			show(){
				let params = {
					mode: this.mode,
					step: this.step
				};
				auth.getUserInfo(null, (response) => {
					this.username = response.data.username;
					this.getNotifications(this.username, params);
				});
			},
			hide(){
				this.notificationsDialog = false;
			},
			closeDialogAndRedirect(){
				this.notificationsDialog = false;
				this.$router.replace('/notifications');
			}
		},
		computed: {
			noNotifications(){
				return !this.notifications.pending.length && !this.notifications.approval.length && !this.notifications.approved.length;
			}
		}
	}
</script>

<template>
	<el-dialog title="Notifications" v-model="notificationsDialog" id="notification-modal">
		<div class="relative-loader-overlay" v-if="modalNotificationsLoading">
			<span class="el-icon-loading"></span>
		</div>
		<div class="request-notifications">
			<transition name="slide-from-left" mode="out-in">
				<div id="notification-list">

				    <div class="row">
				        <div class="form -center col-md-9 col-xs-12">
				            <span class="title icon -check text -dark col-md-12 col-xs-12" v-if="notifications.pending.length">
				            	Pending Request(s)
				            	<small><a @click.prevent="clearNotifications('pending')" href="#">Clear All</a></small>
				            </span>
				            <span v-for="pending in notifications.pending" 
				            		class="notification-item title col-md-offset-1 col-md-12 col-xs-12">
				            	<a href="#" @click.prevent="viewNotification('/notifications/' + pending.id + '/endorse')" 
				            				class="get-options -warning"
				            				v-if="pending.clickable">
				            		* {{ pending.text }}
				            	</a>
				            	<a href="#" @click.prevent="viewNotification('/request/' + pending.id + '/details')" 
				            				class="get-options -warning"
				            				v-else>
				            		* {{ pending.text }}
				            	</a>
				            	<!-- <span class="get-options -warning"
				            			v-else>
				            		* {{ pending.text }}
				            	</span> -->
				            	<a href="#" class="remove-notification"
				            		@click.prevent="removeNotification('pending', pending)"
				            		>
				            		<span class="fa fa-trash"></span>
				            	</a>
				            </span>

				            <span class="title icon -check text -dark col-md-12 col-xs-12" v-if="notifications.approval.length">
				            	Pending for Approval Request(s)
				            	<small><a @click.prevent="clearNotifications('approval')" href="#">Clear All</a></small>
				            </span>
				            <span v-for="approval in notifications.approval" 
				            		class="notification-item title col-md-offset-1 col-md-12 col-xs-12">
				            	<a href="#" @click.prevent="viewNotification('/notifications/' + approval.id + '/approve')" 
				            				class="get-options -warning"
				            				v-if="approval.clickable">
				            		* {{ approval.text }}
				            	</a>
				            	<a href="#" @click.prevent="viewNotification('/request/' + approval.id + '/details')" 
				            				class="get-options -warning"
				            				v-else>
				            		* {{ approval.text }}
				            	</a>
				            	<!-- <span class="get-options -warning"
				            			v-else>
				            		* {{ approval.text }}
				            	</span> -->
				            	<a href="#" class="remove-notification"
				            		@click.prevent="removeNotification('approval', approval)"
				            		>
				            		<span class="fa fa-trash"></span>
				            	</a>
				            </span>

				            <span class="title icon -check text -dark col-md-12 col-xs-12" v-if="notifications.approved.length">
				            	Approved Request(s)
				            	<small><a @click.prevent="clearNotifications('approved')" href="#">Clear All</a></small>
				            </span>
				            <span class="notification-item title col-md-offset-1 col-md-12 col-xs-12"
				            		v-for="approved in notifications.approved">
				            	<!-- <span class="get-options">
				            		* {{ approved.text }}
				            	</span> -->
				            	<a href="#" @click.prevent="viewNotification('/request/' + approved.id + '/details')" 
				            				class="get-options">
				            		* {{ approved.text }}
				            	</a>
				            	<a href="#" class="remove-notification"
				            		@click.prevent="removeNotification('approved', approved)">
				            		<span class="fa fa-trash"></span>
				            	</a>
			            	</span>
							<h3 class="text-center" v-if="noNotifications" style="margin-bottom: 0; padding: 50px 0;">
								You have no <span>new</span> Notification(s).
							</h3>
				        </div>
				    </div>
				</div>
			</transition>
		</div>
		<span slot="footer" class="dialog-footer">
			<a href="#" @click.prevent="closeDialogAndRedirect()">See All</a>
		</span>
	</el-dialog>
</template>