<script>
	let vehicle = require('./../../services/Admin/Vehicle');
	export default{
		created(){
			if(this.id){
				vehicle.getVehicle(this.id, this);
			}
		},
		props: {
			id: {
				default: null
			}
		},
		data(){
			return {
				vehicledata: {
					name: null,
					description: null,
					plate_number: null
				}
			};
		},
		methods: {
			postVehicle(){
				vehicle.postVehicle(this.vehicledata, this)
			},
		}
	}
</script>

<template>
	<form id="vehicle-form" action="#" @submit.prevent="postVehicle()">

		<div class="submit-panel col-md-12">
		    <label class="col-md-5"><span>NAME *</span></label>
		    <input class="col-md-7" type="text" placeholder="Enter Name" name="name" v-model="vehicledata.name" >
		</div>

	    <div class="submit-panel col-md-12">
	        <label class="col-md-5"><span>DESCRIPTION *</span></label>
	        <textarea name="description" id=""  class="col-md-7" cols="30" rows="5" v-model="vehicledata.description"></textarea>
	    </div>

	    <div class="submit-panel col-md-12">
	        <label class="col-md-5"><span>PLATE NUMBER *</span></label>
	        <input class="col-md-7" type="text" placeholder="Enter Plate Number" name="plate_number" v-model="vehicledata.plate_number" >
	    </div>

	    <div class="submit-panel col-md-6 col-md-offset-3 col-xs-12" style="margin-top: 15px;">
	        <button type="submit" class="btn -default">Save</button>
	    </div>
	</form>
</template>