<script>
    let request = require('./../../services/Admin/Request');
	export default {
		created(){
            this.loading = true;
            request.getRequests(this.tableConfig, this);
		},
		data(){
			return {
                requests: [],
                loading: false,
                multipleSelection: [],
                tableConfig: {
                    size: 10,
                    currentPage: 1,
                    layout: 'prev, pager, next',
                    search: {
                        keyword: null,
                        date_requested: '',
                        form_type: '',
                        status: ''
                    },
                    options: {
                        role: null
                    }
                },
                pickerOptions: {
                    shortcuts: [
                        {
                            text: 'Today',
                            onClick(picker) {
                                picker.$emit('pick', new Date());
                            }
                        }, 
                        {
                            text: 'Yesterday',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24);
                                picker.$emit('pick', date);
                            }
                        }, 
                        {
                            text: 'Last week',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', date);
                            }
                        }
                    ]
                },
                bulkActionOptions: [],
                rowActions: ['view', 'approve']
            };
		},
        methods: {
            changePage(currentPage){
                this.tableConfig.currentPage = currentPage;
                this.loading = true;
                request.getRequests(this.tableConfig, this);
            },
            search(){
                this.loading = true;
                if(typeof this.tableConfig.search.date_requested == 'object'){
                    var month = this.tableConfig.search.date_requested.getMonth() + 1; //months from 1-12
                    var day =  this.tableConfig.search.date_requested.getDate();
                    var year =  this.tableConfig.search.date_requested.getUTCFullYear(); 
                    this.tableConfig.search.date_requested = year + "-" + month + "-" + day; 
                }
                request.getRequests(this.tableConfig, this);
            }
        }
	}
</script>

<template>
    <div class="endorsement-list">
    	<div id="user-list">
    	    <request-records type="" 
                            :table-config="tableConfig"
                            :picker-options="pickerOptions"
                            :change-page="changePage"
                            :search="search"
                            :requests="requests"
                            :loading="loading"
                            :row-actions="rowActions"
                            :row-clickable="true"></request-records>
    	</div>
    </div>
</template>