<script>
	let settings = require('./../../services/Admin/Setting');
	export default{
		created(){
			settings.getSettings(this);
		},
		data(){
			return {
				settingsdata: {
					logo: new FormData(),
					name: '',
					duration: null,
					admin_email: null
				},
				settings: {
					site_logo: null,
					duration: 1,
					admin_email: null
				},
				logo: null
			};
		},
		methods: {
			onFileChange(e){


				let files = e.target.files || e.dataTransfer.files;
				if (!files.length)
                    return;

                let image = new Image();
                let reader = new FileReader();
     

                reader.onload = (e) => {
			        this.settings.site_logo = e.target.result;
			    };
			    reader.readAsDataURL(files[0]);
   
                this.settingsdata.logo = files[0];
              
			},
			saveSettings(){
				this.settingsdata.duration = this.settings.duration;
				this.settingsdata.admin_email = this.settings.admin_email;
				settings.saveSettings(this.settingsdata, this);
			}
		}
	}
</script>

<template>
	<form id="request-form" action="#" @submit.prevent="saveSettings()">

		<div class="submit-panel col-md-12">
		    <label class="col-md-5"><span>SITE LOGO</span></label>
		    <div class="col-md-7 settings_site_logo_container">
		    	<img class="settings_site_logo" :src="settings.site_logo" alt="Logo" width="375" height="73" v-if="settings.site_logo">
				<span class="btn btn-primary btn-file upload-site-logo">
				    BROWSE <input class="col-md-7" type="file" placeholder="Site Logo" name="site_logo" @change="onFileChange">
				</span>	
		    </div>    
		</div>

		<div class="submit-panel col-md-12">
		    <label class="col-md-5"><span>DEFAULT DURATION (IN HRS.)</span></label>
		    <input class="col-md-7" type="number" v-model="settings.duration">
		    	<!-- <el-input-number v-model="settings.duration" :controls="false"></el-input-number> -->
		</div>

		<div class="submit-panel col-md-12">
		    <label class="col-md-5"><span>ADMIN EMAIL</span></label>
		    <input class="col-md-7" type="admin_email" v-model="settings.admin_email">
		</div>

	    <div class="submit-panel col-md-6 col-xs-12 col-md-offset-3" style="margin-top: 15px;">
	        <button type="submit" class="btn -default">Save</button>
	    </div>
	</form>
</template>

<style lang="sass" scoped>
	.btn.upload-site-logo{
		color: white;
		background: #30b34d;
		border: 0;
		font-weight: bold;
		&:hover{
			background: black;
		}
	}
</style>