<script>
	let user = require('./../../services/Admin/User');
	export default{
		created(){
			user.getFieldOptions(this);
		},
		props: {
			username: {
				default: null
			},
			editMode: {
				default: false
			}
		},
		data(){
			return {
				loading: true,
				roles: [],
				departments: [],
				userdata: {
					username: null,
					first_name: null,
					last_name: null,
					email: null,
					role: '',
					department: null,
					password: null,
					password_confirmation: null,
					endorsers: [],
					approvers: []
				}
			};
		},
		methods: {
			manageUser(){
				if(this.userdata.role == 'normal'){
					this.assign();			
					return true;
				}
				if(this.username){
					user.manageUser(this.userdata, this, false, true);
					return true;
				}
				user.manageUser(this.userdata, this);
			},
			assign(){
				if(this.username){
					user.manageUser(this.userdata, this, true, true);
					return true;
				}
				user.manageUser(this.userdata, this);
			},
			selectedAnEndorser(endorsers){
				this.userdata.endorsers = endorsers;
			},
			selectedAnApprover(approvers){
				this.userdata.approvers = approvers;
			}
		}
	}
</script>

<template>
	<form id="request-form" action="#" @submit.prevent="manageUser()" v-if="!loading">
		<div class="submit-panel col-md-12">
		    <label class="col-md-5"><span>USERNAME *</span></label>
		    <input class="col-md-7" type="text" placeholder="Enter Username" name="username" v-model="userdata.username" >
		</div>

	    <div class="submit-panel col-md-12">
	        <label class="col-md-5"><span>FIRST NAME *</span></label>
	        <input class="col-md-7" type="text" placeholder="Enter First Name" name="first_name" v-model="userdata.first_name" >
	    </div>

	    <div class="submit-panel col-md-12">
	        <label class="col-md-5"><span>LAST NAME *</span></label>
	        <input class="col-md-7" type="text" placeholder="Enter Last Name" name="last_name" v-model="userdata.last_name" >
	    </div>

	    <div class="submit-panel col-md-12">
	        <label class="col-md-5"><span>EMAIL *</span></label>
	        <input class="col-md-7" type="email" placeholder="Enter E-mail Address" name="last_name" v-model="userdata.email" >
	    </div>

	    <div class="submit-panel col-md-12">
	        <label class="col-md-5"><span>ROLE *</span></label>
	        <div class="select-wrapper -caret col-md-7">
	            <select class="text -grey -normal col-md-12 col-xs-12 req-filter" name="role" id="role" v-model="userdata.role">
	                <option value="" disabled hidden>Select Role</option>
	                <option v-for="role in roles" :value="role.name">{{ role.display_name }}</option>
	            </select>
	        </div>
	    </div>

	    <div class="submit-panel col-md-12">
	        <label class="col-md-5"><span>DEPARTMENT *</span></label>
	        <input class="col-md-7" type="text" placeholder="Enter Department" name="department" v-model="userdata.department" >
	    </div>

	    <div class="submit-panel col-md-12">
	        <label class="col-md-5"><span>PASSWORD *</span></label>
	        <input class="col-md-7" type="password" placeholder="Enter Password" name="password" v-model="userdata.password">
	    </div>

	    <div class="submit-panel col-md-12">
	        <label class="col-md-5"><span>CONFIRM PASSWORD *</span></label>
	        <input class="col-md-7" type="password" placeholder="Re-enter Password" name="password_confirmation" v-model="userdata.password_confirmation" >
	    </div>

	    <div class="submit-panel col-md-12" v-if="userdata.role == 'normal' && !editMode">
	    	<user-selection-control @selected-endorser="selectedAnEndorser" @selected-approver="selectedAnApprover" :username="userdata.username" :autoload-user="false" :show-info="false"></user-selection-control>
	    </div>

	    <div class="submit-panel -button col-md-6 col-xs-12 col-md-offset-6" v-if="userdata.role == 'normal'">
	    	<button type="submit" class="btn -default">Save &amp; Assign</button>
	    </div>
	    <div class="submit-panel -button col-md-6 col-xs-12 col-md-offset-6" v-if="userdata.role == 'admin' || userdata.role == 'monitoring' || userdata.role == ''">
	        <button type="submit" class="btn -default">Save</button>
	    </div>

	</form>
</template>

<style lang="sass" scoped>
	#role{
		height: 40px;
		border: 1px solid #cecece;
	    color: #213d14;
	}
</style>