<script>
	let user = require('./../../services/Admin/User');
	let auth = require('./../../services/Auth');
	export default {
		created(){
			this.loading = true;
			auth.getUserInfo(null, (response) => {
				this.tableConfig.exclude = [auth.user.id];
				user.getUsers(this.tableConfig, this)
					.then((response) => {
						this.loading = false;
					});
			});
		},
		data(){
			return {
			    users: [],
			    multipleSelection: [],
			    tableConfig: {
			    	size: 10,
			    	currentPage: 1,
			    	layout: 'prev, pager, next',
			    	search: null,
			    	options: {
			    		role: null
			    	}
			    },
			    timeout: null,
			    loading: false,
			    bulkAction: ''
			};
		},
		methods: {
			handleSelectionChange(val) {
				this.multipleSelection = val;
			},
			changePage(currentPage){
				this.tableConfig.currentPage = currentPage;
				this.loading = true;
				user.getUsers(this.tableConfig, this)
					.then((response) => {
						this.loading = false;
					});
			},
			searchUser(){
				if(!this.tableConfig.search) {
					this.tableConfig.search = '';
					this.loading = true;
					user.getUsers(this.tableConfig, this)
						.then((response) => {
							this.loading = false;
						});
					return false;
				}
				// clearTimeout(this.timeout);
				// this.timeout = setTimeout(() => {
				this.loading = true;
				user.getUsers(this.tableConfig, this)
					.then((response) => {
						this.loading = false;
					});
				// }, 500);
			},
			toggleUsers(role){
				this.tableConfig.options.role = role == 'all' ? null : role;
				this.loading = true;
				user.getUsers(this.tableConfig, this)
					.then((response) => {
						this.loading = false;
					});
			},
			applyBulkAction(){
				if(!this.bulkAction || !this.multipleSelection.length) return false;
				switch(this.bulkAction){
					case 'delete':
						this.$confirm('Are you sure you want to delete these records?', 'Warning', {
							confirmButtonText: 'OK',
							cancelButtonText: 'Cancel',
							type: 'warning'
						}).then(() => {
							this.loading = true;
							user.deleteUsers(this.multipleSelection, this)
								.then((response) => {
									this.users = _.difference(this.users, this.multipleSelection);
									this.loading = false;
								})
						}).catch(() => {
							        
						});
						break;
					case 'reset':
						this.$confirm('Are you sure you want to reset these records?', 'Warning', {
							confirmButtonText: 'OK',
							cancelButtonText: 'Cancel',
							type: 'warning'
						}).then(() => {
							this.loading = true;
							user.resetUsers(this.multipleSelection, this)
								.then((response) => {
									this.loading = false;
								})
						}).catch(() => {
							        
						});
						break;
				}
			},
			viewUserDetails(row, event, cell){
				this.$router.replace('/admin/users/' + row.username + '/details');
			}
		}
	}
</script>

<style>
	.user-filter{
		padding: 10px 15px;
	}

	#search_user{
		/*border-radius: 5px;*/
	}

	#add-new-user{
		font-size: 1em;
	}

	.table-btns{
		padding: 0px 3px;
	}
</style>

<template>
	<div class="user-table">
		<div class="user-toggle-filter">
			<button type="button" 
					class="link" 
					@click="toggleUsers('all')"
					:class="{ '-toggled': !tableConfig.options.role }">
				All ({{ users.user_count }})
			</button> | 
			<button type="button" 
					class="link" 
					@click="toggleUsers('admin')"
					:class="{ '-toggled': tableConfig.options.role == 'admin' }">
				Administrators ({{ users.admin_count }})
			</button>
		</div>
		<div class="user-filter row">
			<div class="col-md-4 col-sm-6 col-xs-6">
				<div class="select-wrapper -caret">
					<select class="text -grey -normal req-filter col-sm-12" v-model="bulkAction">
						<option value="">Bulk Action</option>
						<option value="reset">Reset</option>
						<option value="delete">Delete</option>
					</select>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-6">
				<button type="button" class="btn -default col-md-12 control -sm" @click="applyBulkAction()" style="height: 36px; margin: 0;">APPLY</button>
			</div>
			<div class="col-md-4 col-md-offset-2 col-sm-12 col-xs-12">
				<div class="select-wrapper">
					<form @submit.prevent="searchUser()">
						<div class="input-group _full-width">
							<input type="text" class="req-filter" placeholder="Search" id="search_user" v-model="tableConfig.search" autocomplete="off">
							<button type="submit" class="btn icon -search -default"></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	    <div class="row">
	        <div class="col-md-12">
					<el-table
						:data="users.data"
						border
						v-loading="loading"
					    style="width: 100%"
						@selection-change="handleSelectionChange"
						:stripe="true">

						<el-table-column
							type="selection"
							width="50">
						</el-table-column>

						<el-table-column
							:resizable="false"
							inline-template
							label="Username">
							<span>
								<!-- <router-link title="Details" :to="{ path: '/admin/users/' + row.username + '/details' }"><i class="fa fa-file-text-o"></i></router-link> -->
								<span class="label label-success" v-if="!row.endorsers.length && !row.approvers.length">Unassigned</span>
								{{ row.username }}
							</span>
						</el-table-column>

						<el-table-column
							:resizable="false"
							property="name"
							sortable
							label="Name">
						</el-table-column>

						<el-table-column
							:resizable="false"
							property="email"
							sortable
							label="Email"
							show-overflow-tooltip>
						</el-table-column>

						<el-table-column
							:resizable="false"
							property="department"
							sortable
							label="Department"
							show-overflow-tooltip>
						</el-table-column>
						
						<el-table-column
							:resizable="false"
							inline-template
							label="Actions"
							width="100">
							<span>
								<!-- <router-link title="Details" :to="{ path: '/admin/users/' + row.username + '/details' }"><i class="fa fa-file-text-o"></i></router-link> -->
								<router-link class="tbl-action" title="Edit" :to="{ path: '/admin/users/' + row.username + '/edit' }"><i class="fa fa-pencil"></i></router-link>
								<router-link class="tbl-action" title="Assign" v-if="row.role != 'Monitoring' && row.role != 'Administrator'" :to="{ path: '/admin/users/' + row.username + '/assign' }"><i class="fa fa-user-plus"></i></router-link>
							</span>
						</el-table-column>

					</el-table>
				<div class="table-pagination text-right">
					<el-pagination
						:layout="tableConfig.layout"
						:page-size="tableConfig.size"
						:total="users.total"
						:current-page="tableConfig.currentPage"
						@current-change="changePage">
					</el-pagination>
				</div>
	        </div>
	    </div>
	</div>
</template>