<script>
	let user = require('./../../services/Admin/User');
	export default {
		created(){
			if(this.autoloadUser){
				user.getAssignedUsersFor(this.username, this);
			}
		},
		props: {
			editMode: {
				default: true
			},
			username: null,
			autoloadUser: {
				default: true
			},
			endorsers: {
				type: Array,
				default: () => []
			},
			approvers: {
				type: Array,
				default: () => []
			},
			showInfo: {
				default: true
			}
		},
		data(){
			return {
				searchedUsers: [],
				searchedEndorsers: [],
				searchedApprovers: [],
				selectedEndorsers: this.endorsers,
				selectedApprovers: this.approvers,
				userKeyword: '',
				endorserKeyword: '',
				approverKeyword: '',
				timeout: null,
				selectedUsers: [],
				user: {
					username: null,
					first_name: null,
					last_name: null,
					email: null,
					department: null
				}
			};
		},
		methods: {
			removeFromSelected(pos, user){
				_.pull(this.selectedUsers, user);
				switch(pos){
					case 'endorser':
						this.selectedEndorsers.splice(_.indexOf(this.selectedEndorsers, user), 1);
						break;
					case 'approver':
						this.selectedApprovers.splice(_.indexOf(this.selectedApprovers, user), 1);
						break;
					default:
						break;
				}
			},
			assignAs(pos, index){
				this.selectedUsers.push(_.get(this.searchedUsers, index));
				switch(pos){
					case 'endorser':
						this.selectedEndorsers.push(_.get(this.searchedUsers, index));
						this.searchedEndorsers = _.toArray(this.searchedEndorsers);
						this.$emit('selected-endorser', this.selectedEndorsers);
						this.searchedEndorsers = [];
						// _.pullAt(this.searchedEndorsers, index);
						break;
					case 'approver':
						this.selectedApprovers.push(_.get(this.searchedUsers, index));
						this.searchedApprovers = _.toArray(this.searchedApprovers);
						this.$emit('selected-approver', this.selectedApprovers);
						this.searchedApprovers = [];
						// _.pullAt(this.searchedApprovers, index);
						break;
					default:
						break;
				}
				this.searchedUsers = _.toArray(this.searchedUsers);
				this.endorserKeyword = '';
				this.approverKeyword = '';
				// _.pullAt(this.searchedUsers, index);
				// delete this.searchedUsers[index];
			},
			searchEndorsers(){
				this.searchedUsers = [];
				if(!this.endorserKeyword) {
					this.searchedEndorsers = [];
					return false;
				}
				clearTimeout(this.timeout);
				this.timeout = setTimeout(() => {
					if(this.endorserKeyword.trim() == ''){
						this.searchedUsers = [];
						this.searchedEndorsers = [];
						return false;
					}

					user.searchFor(this.endorserKeyword, _.map(this.selectedUsers, 'id'), this.$route.params.username)
						.then((response) => {
							this.searchedUsers = _.toArray(response.data);
							this.searchedEndorsers = _.toArray(response.data);
						}, (response) => {
							displayErrors(response.data.error);
						});
				}, 500);
			},
			searchApprovers(){
				this.searchedUsers = [];
				if(!this.approverKeyword) {
					this.searchedApprovers = [];
					return false;
				}
				clearTimeout(this.timeout);
				this.timeout = setTimeout(() => {
					if(this.approverKeyword.trim() == ''){
						this.searchedUsers = [];
						this.searchedApprovers = [];
						return false;
					}
					user.searchFor(this.approverKeyword, _.map(this.selectedUsers, 'id'), this.$route.params.username)
						.then((response) => {
							this.searchedUsers = _.toArray(response.data);
							this.searchedApprovers = _.toArray(response.data);
						}, (response) => {
							displayErrors(response.data.error);
						});
				}, 500);
			},
			assign(username = null){
				this.username = username ? username : this.username;
				// if(!this.selectedUsers.length){
				// 	toastr.warning('Please select an Endorser or Approver', 'Notice');
				// 	return false;
				// }
				user.assignFor(this.selectedEndorsers, this.selectedApprovers, this.username, this);
			},
			clearSearched(type){
				this.searchedUsers = [];
				switch(type){
					case 'endorsers':
						this.searchedEndorsers = [];
						this.searchEndorsers();
					break;
					case 'approvers':
						this.searchedApprovers = [];
						this.searchApprovers();
					break;
				}
			}
		},
		watch: {
			username(newusername, from){
				this.selectedEndorsers = [];
				this.selectedApprovers = [];
				if(this.autoloadUser) user.getAssignedUsersFor(newusername, this);
			}
		}
	}
</script>

<style>
	#user-selection-control-form{
		border-top: 1px solid #eeeeee;
		margin-top: 20px;
		padding-top: 20px;
	}
</style>

<template>
	<div id="user-selection-control" class="row">
		<div class="col-sm-12" style="clear: both; float: none;">
			<div class="row" v-if="showInfo">
				<div class="submit-panel col-md-12">
				    <label class="col-md-5"><span>USERNAME</span></label>
				    <label class="col-md-7 input-clone">{{ user.username }}</label>
				</div>

			    <div class="submit-panel col-md-12">
			        <label class="col-md-5"><span>NAME</span></label>
				    <label class="col-md-7 input-clone">{{ user.first_name }} {{ user.last_name }}</label>
			    </div>

			    <div class="submit-panel col-md-12">
			        <label class="col-md-5"><span>EMAIL ADDRESS</span></label>
				    <label class="col-md-7 input-clone">{{ user.email }}</label>
			    </div>

			    <div class="submit-panel col-md-12">
			        <label class="col-md-5"><span>DEPARTMENT</span></label>
				    <label class="col-md-7 input-clone">{{ user.department }}</label>
			    </div>
			</div>
		</div>

		<form id="user-selection-control-form" class="_clearfix" @submit.prevent="assign()">
			<div class="text-right col-sm-6 user-searcher">
				<h4 class="text-left">Endorsers</h4>
				<div style="position: relative;" v-if="editMode">
				    <input style="width: 100%;"
						    type="text" 
						    placeholder="Search for an endorser" 
						    name="endorser_keyword" 
						    v-model="endorserKeyword" 
						    @input="searchEndorsers()" 
						    autocomplete="off"
							@focus="clearSearched('approvers')">
			    	<div class="search-results">
			    		<ul class="selected-users -with-hover">
			    			<li class="user"
				    			v-for="(user, index) in searchedEndorsers"
	    						@click="assignAs('endorser', index)">
	    	    				{{ user.first_name }} {{ user.last_name }}
			    			</li>
			    		</ul>
			    	</div>
				</div>
				<div class="selected-users-container">
					<ul class="selected-users">
						<!-- <transition-group name="flip" transition-mode="out-in"> -->
							<li v-for="(endorser, index) in selectedEndorsers"
								class="user" :key="index">
								<span v-if="editMode">
									{{ endorser.first_name }} {{ endorser.last_name }}
								</span>
								<span v-else>
									<router-link :to="{ path: '/admin/users/' + endorser.username + '/details' }">
										{{ endorser.first_name }} {{ endorser.last_name }}
									</router-link>
								</span>

								<button type="button" 
										class="btn -default user-remove-btn pull-right"
										@click="removeFromSelected('endorser', endorser)"
										 v-if="editMode">
									<span class="fa fa-close"></span>
								</button>
							</li>
							<li class="user" key="no_endorser" v-if="!selectedEndorsers.length">
								No selected endorser.
							</li>
						<!-- </transition-group> -->
					</ul>
				</div>
			</div>
			<div class="text-right col-sm-6 user-searcher">
				<h4 class="text-left">Approvers</h4>
				<div style="position: relative;" v-if="editMode">
				    <input style="width: 100%;"
				    		type="text" 
				    		placeholder="Search for an approver" 
				    		name="approver_keyword" 
				    		v-model="approverKeyword" 
				    		@input="searchApprovers()" 
				    		autocomplete="off"
    						@focus="clearSearched('endorsers')">
	    	    	<div class="search-results">
	    	    		<ul class="selected-users -with-hover">
	    	    			<li class="user"
	    		    			v-for="(user, index) in searchedApprovers"
	    						@click="assignAs('approver', index)">
	    	    				{{ user.first_name }} {{ user.last_name }}
	    	    			</li>
	    	    		</ul>
	    	    	</div>
				</div>
				<div class="selected-users-container">
					<ul class="selected-users">
						<!-- <transition-group name="flip" transition-mode="out-in"> -->
							<li v-for="(approver, index) in selectedApprovers"
								class="user" :key="index">
								<span v-if="editMode">
									{{ approver.first_name }} {{ approver.last_name }}
								</span>
								<span v-else>
									<router-link :to="{ path: '/admin/users/' + approver.username + '/details' }">
										{{ approver.first_name }} {{ approver.last_name }}
									</router-link>
								</span>

								<button type="button" 
										class="btn -default user-remove-btn pull-right"
										@click="removeFromSelected('approver', approver)"
										 v-if="editMode">
									<span class="fa fa-close"></span>
								</button>
							</li>
							<li class="user" key="no_approver" v-if="!selectedApprovers.length">
								No selected approver.
							</li>
						<!-- </transition-group> -->
					</ul>
				</div>
			</div>

			<div class="submit-panel col-md-6 col-xs-12 col-md-offset-6" v-if="showInfo">
			    <button type="submit" class="btn -default">Save &amp; Continue</button>
			</div>
		</form>
	</div>
</template>