<script>
	let vehicle = require('./../../services/Admin/Vehicle');
	export default {
		created(){
			vehicle.getVehicles(this.tableConfig, this);
		},
		data(){
			return {
			    vehicles: [],
			    vehiclesTotal: 0,
			    multipleSelection: [],
			    tableConfig: {
			    	size: 10,
			    	currentPage: 1,
			    	layout: 'prev, pager, next',
			    	search: null,
			    	options: {
			    		role: null
			    	}
			    },
			    timeout: null
			};
		},
		methods: {
			handleSelectionChange(val) {
				this.multipleSelection = val;
			},
			changePage(currentPage){
				this.tableConfig.currentPage = currentPage;
				vehicle.getVehicles(this.tableConfig, this);
			},
			searchVehicle(){
				if(!this.tableConfig.search) {
					this.tableConfig.search = '';
					vehicle.getVehicles(this.tableConfig, this);
					return false;
				}
				clearTimeout(this.timeout);
				this.timeout = setTimeout(() => {
					vehicle.getVehicles(this.tableConfig, this);
				}, 500);
			},
			toggleVehicles(role){
				this.tableConfig.options.role = role == 'all' ? null : role;
				vehicle.getVehicles(this.tableConfig, this);
			},
			toggleDelete(id) {

				this.$confirm('Are you sure you want to delete this record?', 'Warning', {
					confirmButtonText: 'OK',
					cancelButtonText: 'Cancel',
					type: 'warning'
				}).then(() => {
					vehicle.deleteVehicle(id, this.tableConfig, this);
				}).catch(() => {
					        
				});
			}
		}
	}
</script>

<style>
	.vehicle-filter{
		padding: 10px 15px;
	}

	#search_vehicle{
		border-radius: 5px;
	}

	#add-new-vehicle{
		font-size: 1em;
	}

/*	.table-action { display: inline-block; vertical-align: middle; padding: 0 2.5px; }*/
</style>

<template>
	<div class="vehicle-table">
		<div class="vehicle-filter row">
	        	<div class="col-md-5 col-md-offset-7 col-xs-12">
	    	    	<div class="select-wrapper">
	    	    		<form @submit.prevent="searchVehicle()">
	    	    			<div class="input-group _full-width">
	    	    				<input class="req-filter" placeholder="Search" type="text" name="search" v-model="tableConfig.search" @input="searchVehicle()">
	    	    				<button type="submit" class="btn icon -search -default"></button>
	    	    			</div>
	    	    		</form>
	    	    	</div>
	        	</div>

<!-- 			<div class="col-md-4 col-md-offset-8">
	    	    <input class="col-md-12 col-xs-12" placeholder="Search" type="text" name="search" v-model="tableConfig.search">
	    	    <button type="submit" class="btn icon -search -default"></a> -->
	<!-- 			<input type="text" class="col-sm-12 control -sm" placeholder="Search Vehicles" id="search_vehicle" v-model="tableConfig.search" autocomplete="off" @input="searchVehicle()"> -->
<!-- 			</div> -->
		</div>
	    <div class="row">
	        <div class="col-md-12">
					<el-table
					:data="vehicles"
					border
					style="width: 100%"
					@selection-change="handleSelectionChange">

						<el-table-column
							property="name"
							sortable
							:resizable="false"
							label="Name">
						</el-table-column>

						<el-table-column
							property="description"
							sortable
							:resizable="false"
							label="Description">
						</el-table-column>

						<el-table-column
							property="plate_number"
							sortable
							:resizable="false"
							label="Plate Number"
							show-overflow-tooltip>
						</el-table-column>		
										
						<el-table-column
							inline-template
							:resizable="false"
							width="100"
							label="Actions">
							<span>
								<router-link class="tbl-action" :to="{ path: '/admin/vehicles/' + row.id + '/edit' }"><i class="fa fa-pencil"></i></router-link>
								<a href="" class="tbl-action" @click.prevent="toggleDelete(row.id)"><i class="fa fa-trash-o"></i></a>
							</span>
						</el-table-column>

					</el-table>
				<div class="table-pagination text-right">
					<el-pagination
						:layout="tableConfig.layout"
						:page-size="tableConfig.size"
						:total="vehiclesTotal"
						:current-page="tableConfig.currentPage"
						@current-change="changePage">
					</el-pagination>
				</div>
	        </div>
	    </div>
	</div>
</template>