<template>
	<div class="container">
		<h1 class="text-center">ERROR 404</h1>
		<h2 class="text-center">PAGE NOT FOUND</h2>
	</div>
</template>

<script>
	export default {
		data(){
			return {

			};
		}
	}
</script>