<template>
	<div id="app">
		<main id="content" v-if="!isLoggedIn">
			<article id="content-area" class="">
		        <section class="col-md-12 col-xs-12">
					<transition name="fade" mode="out-in">
						<router-view class="view" 
								keep-alive
								transition
								transition-mode="in-out">
						</router-view>
					</transition>
		        </section>
	        </article>
		</main>

		<div class="navbar navbar-default" v-if="isLoggedIn">
		    <div class="navbar-inner">
		        <div class="container header-container">
		            <div id="preheader">
		            	<div class="navbar-header">
		            		<button type="button" class="navbar-toggle" @click="showDeviceNav = !showDeviceNav">
		            			<span class="sr-only">Toggle navigation</span>
		            			<span class="icon-bar"></span>
		            			<span class="icon-bar"></span>
		            			<span class="icon-bar"></span>
		            		</button>
		            		<router-link class="navbar-brand" :to="(userRole == 'normal' || userRole == 'monitoring' ? '/' : '/admin/dashboard')"><img :src="logo ? logo : settings.site_logo" alt="Logo" width="375" height="73"></router-link>
		            	</div>
		            	<div class="collapse navbar-collapse" id="device-nav" v-if="showDeviceNav">
		            		<ul class="nav navbar-nav">
		            			<li v-if="isLoggedIn">
			            			<a>
			            				<i class="fa fa-user"></i>
			            				{{ username }}
			            			</a>
		            			</li>
		            			<li v-if="isLoggedIn && userRole == 'normal'">
		            				<a href="#" @click.prevent="showNotificationsDialog()">
		            					<i class="fa fa-bell"></i>
		            					<span class="badge badge-danger" v-if="notificationCount">{{ notificationCount }}</span>
		            					Notifications
		            				</a>
		            			</li>
		            			<li v-if="isLoggedIn">
		            				<router-link to="/change-password">
		            					<i class="fa fa-cog"></i>
		            					Change Password
		            				</router-link>
		            			</li>
		            			<li v-if="isLoggedIn">
		            				<router-link to="/logout">
		            					<i class="fa fa-sign-out"></i>
		            					Logout
		            				</router-link>
		            			</li>
		            		</ul>
		            	</div>
		                <div id="navbar-header" class="navbar-collapse collapse">
		                    <ul class="nav navbar-nav navbar-right">
    	                        <li v-if="isLoggedIn">
		                        	<span class="header-user-name">
		                        		<i class="fa fa-user"></i>
		                        		{{ username }}
		                        	</span>
    	                        </li>
		                        <li v-if="isLoggedIn && userRole == 'normal'">
			                        <a href="#" class="icon -notifications-alt" @click.prevent="showNotificationsDialog()">
			                        	<span class="badge badge-notify" v-if="notificationCount">{{ notificationCount }}</span>
			                        </a>
		                        </li>
		                        <li>
		                            <a class="icon -settings dropdown-toggle" href="#" data-toggle="dropdown"></a>
		                            <ul class="dropdown-menu top-header-navbar">
		                            	<li>
		                            		<router-link to="/change-password">Change Password</router-link>
		                            	</li>
		                            	<li>
		                            		<router-link to="/logout">Logout</router-link>
		                            	</li>
		                            </ul>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		
	    <main id="content" v-if="isLoggedIn">
	        <article id="content-area" class="container">
	            <section class="row">
	                <section class="col-md-12">
	                	<request-notifications-dialog ref="notificationsDialogModal" v-if="isLoggedIn && userRole == 'normal'"></request-notifications-dialog>
						<div v-if="isLoggedIn && userRole == 'normal'">
							<front-end-menu :items.sync="menuItems"></front-end-menu>

		                    <div class="tab-content">
		                        <transition name="fade" mode="out-in">
		                        	<router-view class="view" 
		                        			keep-alive
		                        			transition
		                        			transition-mode="in-out">
		                        	</router-view>
		                        </transition>
		                    </div>
							
		                    <router-link to="/make-request" class="make-request-btn" data-toggle="tooltip" data-placement="top" title="Make a Request">
		                    	<i class="fa fa-plus"></i>
		                    </router-link>
						</div>
						<div v-if="isLoggedIn && userRole == 'monitoring'">
							<front-end-menu :items.sync="menuItems"></front-end-menu>
							<transition name="fade" mode="out-in">
								<router-view class="view" 
										keep-alive
										transition
										transition-mode="in-out">
								</router-view>
							</transition>
						</div>

						<div v-if="isLoggedIn && userRole == 'admin'">
							<div id="no-tabs">
							    <div class="row">
							        <span class="add-space -left title text -xl -thin col-md-10" id="admin-title">Admin</span>
							    </div>
								<div class="sidebar-menu-toggle">
									<i class="fa" :class="{ 'fa-list': !sidebarMenuActive, 'fa-arrow-left': sidebarMenuActive }"></i>
								</div>
							    <div class="row">
							        <div class="col-md-2 col-xs-12">
							            <ul id="admin-menu-tabs" class="nav nav-tabs">
							                <li class="col-md-12 col-xs-3">
							                	<router-link class="icon -dashboard" tag="a" to="/admin/dashboard">
							                		Dashboard
							                	</router-link>
						                	</li>
							                <li class="col-md-12 col-xs-3">
								                <router-link class="icon -list" tag="a" to="/admin/users">
							                		Users List
							                	</router-link>
							                </li>
							                <li class="col-md-12 col-xs-3">
								                <router-link class="icon -vehicle" tag="a" to="/admin/vehicles">
							                		Vehicle
							                	</router-link>
							                </li>
							                <li class="col-md-12 col-xs-3">
		                		                <router-link class="icon -document" tag="a" to="/admin/requests">
		                	                		Requests
		                	                	</router-link>
							                </li>
<!-- 							                <li class="col-md-12 col-xs-3">
		                		                <router-link class="icon -records" tag="a" to="/admin/records">
		                	                		Records
		                	                	</router-link>
							                </li> -->
							                <li class="col-md-12 col-xs-3">
		                		                <router-link class="icon -cog" tag="a" to="/admin/settings">
		                	                		Settings
		                	                	</router-link>
							                </li>
							            </ul>
							        </div>
							        <div class="col-md-10 col-xs-12 admin-view">
								        <div class="tab-content">
											<transition name="fade" mode="out-in">
												<router-view class="view" 
														keep-alive
														transition
														transition-mode="in-out">
												</router-view>
											</transition>
								        </div>
							        </div>
							    </div>
							</div>
						</div>

	                </section>
	            </section>

	        </article>
	    </main>

	    <transition name="fade">
	    	<div id="loader-overlay" v-if="loading"></div>
	    </transition>
	</div>
</template>

<style>
	#admin-title{
		margin-left: 41px;
	}

	#loader-overlay{
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.9);
		left: 0;
		top: 0;
		z-index: 9999;
	}

	.header-user-name{
		padding-top: 14px;
	    padding-bottom: 14px;
	    display: inline-block;
	}
</style>

<script>
	let auth = require('./../services/Auth');
	let settings = require('./../services/Admin/Setting');
	export default {
		created(){
			this.$on('loading', (loading) => {
				this.loading = loading;
			});
			this.$on('notificationCount', (count) => {
				this.notificationCount = count;
				this.tmpNotificationCount = count;
			});
			this.$on('addNotificationCount', (count) => {
				this.notificationCount += count;
			});
			this.$on('decrNotificationCount', (count) => {
				if(this.notificationCount > 0){
					this.notificationCount -= count;
				}
			});
			this.$on('notificationClicked', (path) => {
				this.$refs.notificationsDialogModal.hide();
				this.$router.replace(path);
			});
			this.$on('logoChanged', (logoPath) => {
				this.logo = logoPath;
			});
			settings.getSettings(this);
			auth.getUserInfo(null, (response) => {
				if(response.data.hasEndorsedUsers){
					let lastMenu = this.menuItems.pop();
					this.menuItems.push({
							title: 'Endorsement List',
							href: '/endorsement-list',
							class: 'icon -list'
						});
					this.menuItems.push(lastMenu);
				}
				if(response.data.hasApprovalUsers){
					let lastMenu = this.menuItems.pop();
					this.menuItems.push({
							title: 'Approval List',
							href: '/approval-list',
							class: 'icon -list'
						});
					this.menuItems.push(lastMenu);
				}
				this.userFullName = response.data.first_name + ' ' + response.data.last_name;
				this.username = response.data.username;

			});		
			if(auth.userRole() == 'monitoring'){				
				this.menuItems = [
		    		{
		    			title: 'Request Monitoring',
		    			href: '/request-monitoring',
		    			class: 'icon -records -monitoring'
		    		},
		    		{
		    			title: 'Records',
		    			href: '/records/request-monitoring',
		    			class: 'icon -records -monitoring'
		    		}
		    		
		    	];
		    	// console.log("done sdklfjskldfj");
			}else if(auth.user.role == 'normal'){		    	
		    	this.menuItems = [
		    		{
		    			title: 'Notifications',
		    			href: '/notifications',
		    			class: 'icon -notifications'
		    		},
		    		{
		    			title: 'Records',
		    			href: '/records',
		    			class: 'icon -records'
		    		}
		    		
		    	];
		    }		    
		},
		mounted(){
			$(() => {
				$('.sidebar-menu-toggle').on('click', function(){
					$(this).toggleClass('-active');
					$('#admin-menu-tabs').toggleClass('-active');
				});
			});
		},
		data(){
			return {
				menuItems: [],
				transitionName: '',
				isLoggedIn: auth.loggedIn(),
				userRole: auth.userRole(),
				user: auth.user,
				userFullName: null,
				username: null,
				settings: {},
				notificationsDialog: true,
				notificationCount: 0,
				tmpNotificationCount: 0,
				context: this,
				retries: 0,
				loading: false,
				modalNotificationsLoading: true,
				sidebarMenuActive: false,
				logo: null,
				showDeviceNav: false
			};
		},
		methods: {
			closeDialogAndRedirect(){
				this.notificationsDialog = false;
				this.$router.replace('/notifications');
			},
			showNotificationsDialog(){
				this.tmpNotificationCount = _.clone(this.notificationCount);
				this.notificationCount = 0;
				this.modalNotificationsLoading = true;
				this.notificationsDialog = true;
				this.$refs.notificationsDialogModal.show();
				this.retries++;
			},
			toggleSidebarMenu(){
				this.sidebarMenuActive != this.sidebarMenuActive;
			}
		}
	}
</script>