<script>
	let auth = require('./../services/Auth');
	let requestService = require('./../services/Request');
	export default {
		created(){
			auth.getUserInfo(null, (response) => {
				requestService.getRequestInfo(this.$route.params.id)
								.then((response) => {
									this.request = response.data;
									this.hasExpiration = this.request.has_expiration;
									if(this.hasExpiration){
										this.expiration = {
											date: this.request.expiration_date ? this.request.expiration_date : '',
											time: this.request.expiration_time && this.request.expiration_date ? new Date(this.request.expiration_date.split('-')[0], this.request.expiration_date.split('-')[1], this.request.expiration_date.split('-')[2], this.request.expiration_time.split(':')[0], this.request.expiration_time.split(':')[1]) : ''
										}
									}
								});
			});
		},
		data(){
			return {
				request: {},
				hasExpiration: false,
				expiration: {
					date: '',
					time: ''
				},
				reason: null,
				pickerOptions: {
					shortcuts: [
						{
							text: 'Today',
							onClick(picker) {
								picker.$emit('pick', new Date());
							}
						}, 
						{
							text: 'Tomorrow',
							onClick(picker) {
								const date = new Date();
								date.setTime(date.getTime() + 3600 * 1000 * 24);
								picker.$emit('pick', date);
							}
						}, 
						{
							text: 'Next week',
							onClick(picker) {
								const date = new Date();
								date.setTime(date.getTime() + 3600 * 1000 * 24 * 7);
								picker.$emit('pick', date);
							}
						}
					]
				},
				userRole: auth.userRole()
			};
		},
		methods: {
			approveRequest(){
				let request = {
					approver: auth.user.id,
					expiration: this.expiration,
					has_expiration: this.hasExpiration
				};
				
				requestService.approve(this.$route.params.id, request)
								.then((response) => {
									if(response.status == 200){
										this.$router.replace('/notifications');
									}
								});
			},
			declineRequest(){
				let request = {
					decliner: auth.user.id,
					expiration: this.expiration,
					has_expiration: this.hasExpiration,
					reason: this.reason
				};
				
				requestService.decline(this.$route.params.id, request)
								.then((response) => {
									if(response.status == 200){
										this.$router.replace('/notifications');
									}
								});
			},
			goBack(){
				this.$router.replace(sessionStorage.getItem('previousLink'));
			}
		}
	}
</script>

<template>
	<div id="notification-options">
		<a href="#" @click.prevent="goBack" class="btn-back">
			<span class="fa fa-arrow-circle-left"></span> Back
		</a>
	    <div class="row">
	        <form @submit.prevent="approveRequest()" class="col-md-12 col-xs-12">
	            <label class="col-md-12 col-xs-12"><span class="text -md -dark -thick">Itinerary Gate Pass</span></label>

	            <div class="row">
	                <div class="col-xs-12">
	                    <div id="itineraryView" class="">

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Name</span></label>
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">{{ request.requested_by }}</span></label>
	                        </div>

	                        <div class="no-space -horizontal col-md-12 col-xs-12" v-if="request.guest">
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Guest Name</span></label>
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">{{ request.guest }}</span></label>
	                        </div>

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Departure Date</span></label>
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">{{ request.departured_date }}</span></label>

	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thick">Time</span></label>
	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thin">{{ request.departured_time }}</span></label>
	                        </div>

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Return Date</span></label>
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">{{ request.returned_date }}</span></label>

	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thick">Time</span></label>
	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thin">{{ request.returned_time }}</span></label>
	                        </div>

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Destination</span></label>
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">{{ request.destination }}</span></label>
	                        </div>

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Purpose</span></label>
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">{{ request.purpose }}</span></label>
	                        </div>

                            <div class="no-space -horizontal col-md-12 col-xs-12">
                                <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Endorsed By</span></label>
                                <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">{{ request.endorser }}</span></label>
                            </div>

    						<div class="no-space -horizontal col-md-12 col-xs-12">
    						    <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Approved By</span></label>
    						    <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">{{ request.approver }}</span></label>
    						</div>

	                        <!-- <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Approver</span></label>
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">Eggar Morbid</span></label>
	                        </div> -->

	                    </div>
	                </div>
	            </div>

	            <label class="col-md-12 col-xs-12" v-if="request.vehicle"><span class="text -md -dark -thick">Vehicle Gate Pass</span></label>

	            <div class="row" v-if="request.vehicle">
	                <div class="col-xs-12">
	                    <div id="itineraryView" class="">

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Name</span></label>
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">{{ request.vehicle.name }}</span></label>
	                        </div>

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Number</span></label>
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">{{ request.vehicle.number }}</span></label>

	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thick">Plate Number</span></label>
	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thin">{{ request.vehicle.plate_number }}</span></label>
	                        </div>

	                    </div>
	                </div>
	            </div>

	            <label class="col-md-12 col-xs-12" v-if="request.items"><span class="text -md -dark -thick">Item Gate Pass</span></label>

	            <div class="row" v-if="request.items" v-for="item in request.items">
	                <div class="col-xs-12">
	                    <div id="itineraryView" class="">

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Name</span></label>
	                            <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">{{ item.name }}</span></label>

	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thick">Quantity</span></label>
	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thin">{{ item.quantity }}</span></label>
	                        </div>

	                    </div>
	                </div>
	            </div>
				
				<hr>
                <div class="expiration-date">
                	<div class="radio-group inline-radio">
                	    <input id="requestExpiration" 
                	    		class="radio-custom" 
                	    		name="radio-group" 
                	    		type="checkbox" 
                	    		v-model="hasExpiration">
                	    <label for="requestExpiration" class="radio-custom-label"><span class="checker"></span><span class="text -dark -sm -thin">Request Expiration ?</span></label>
            	    </div>
    	            <div class="add-space -top row"
    	            		v-if="hasExpiration">
    	                <div class="col-md-12 col-xs-12 form-group required">
    	                    <label class="control-label col-md-4 col-xs-12"><span class="text -grey -normal -xs -thin">Expiration Date</span></label>
                            <div class="select-wrapper col-md-3 col-xs-12">
    							<el-date-picker
    								v-model="expiration.date"
    								type="date"
    								placeholder="Pick a day"
    								:editable="false"
    								:picker-options="pickerOptions">
    							</el-date-picker>
                            </div>

                            <label class="control-label col-md-2 col-xs-12"><span class="text -grey -normal -xs -thin">Time</span></label>
                            <div class="col-md-3">
                            	<el-time-picker
    								v-model="expiration.time"
    								format="HH:mm"
    								placeholder="Pick a time">
    							</el-time-picker>
                            </div>
    	                </div>
    	            </div>
                </div>

	            <div class="add-space -top row"
	            	v-if="request.requested_by">
	                <div class="submit-panel col-md-6">
	                    <button type="submit" class="btn -default get-info">Approve</button>
	                    <!--                <button class="btn -default" type="submit">login</button>-->
	                </div>
	                <div class="submit-panel col-md-6">
	                    <a data-toggle="modal" data-target="#modalPopup" class="btn -error">Decline</a>
	                    <!--                <button class="btn -default" type="submit">login</button>-->
	                </div>
	            </div>
	        </form>
	    </div>

	    <!-- Modal -->
	    <div id="modalPopup" class="modal fade" role="dialog">
	        <div class="modal-dialog">

	            <!-- Modal content-->
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal">&times;</button>
	                    <h4 class="modal-title text -lg -normal">Reason</h4>
	                </div>
	                <div class="modal-body col-md-12">
	                    <div class="">
	                        <textarea class="col-md-12" type="text" placeholder="Enter your reason why you want to decline this request" name="reason" v-model="reason"></textarea>
	                    </div>
	                </div>
	                <div class="modal-footer">
	                    <div class="col-md-12 submit-btn">
	                        <button type="button" class="btn -default close-options" 
			                        data-dismiss="modal" @click="declineRequest()">Submit</button>
	                    </div>
	                </div>
	            </div>

	        </div>
	    </div>
	</div>
</template>