<template>
	<div id="login-page" class="col-md-4 col-md-offset-4">
		<router-link class="brand" to="/login"><img src="/images/logo.svg" alt="Logo" width="375" height="73" ></router-link>

		<section class="login-section col-md-12">

			<form id="login-form" action="#" @submit.prevent="login()">
				<div class="submit-panel col-md-12">
					<input type="text" placeholder="Username" name="username" v-model="credentials.username" required>
				</div>
				<div class="col-md-12">
					<input type="password" placeholder="Password" name="password" v-model="credentials.password" required>
				</div>
				<div class="submit-panel col-md-12">
					<button type="submit" class="btn -default">login</button>
				</div>
				<div class="col-md-12">
					<span class="right"><a href="#" @click.prevent="passwordResetFormVisible = true">forgot password?</a></span>
				</div>
			</form>
		</section>

		<el-dialog title="Forgot Password" v-model="passwordResetFormVisible" size="medium">
		  <span>Please email {{ settings.admin_email }} to reset password.</span>
		  <span slot="footer" class="dialog-footer">
		    <el-button type="primary" @click="passwordResetFormVisible = false">Close</el-button>
		  </span>
		</el-dialog>

	</div>
</template>

<style>
	#login-page{
		background: #fff;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
		border-radius: 8px;
		padding: 50px 20px;
		margin-top: 50px;
	}
</style>

<script>
	let auth = require('./../services/Auth');
	let settings = require('./../services/Admin/Setting')
	export default {
		created(){
			settings.getSettings(this);
		},
		data(){
			return {
				credentials: {
					username: null,
					password: null
				},
				passwordResetFormVisible: false,
				formLabelWidth: '120px',
				resetPasswordForm: {
					email: ''
				},
				settings: {
					admin_email: ''
				}
			};
		},
		methods: {
			login(){
				auth.login(this, this.credentials);
			},
			sendResetPasswordLink(){

			}
		}
	}
</script>