<script>
	let auth = require('./../services/Auth');
	let requestService = require('./../services/Request');
	export default {
		created(){
			this.getNotificationInfo();
		},
		data(){
			return {
				request: {},
				hasExpiration: false,
				expiration: {
					date: '',
					time: ''
				},
				reason: null,
				pickerOptions: {
					shortcuts: [
						{
							text: 'Today',
							onClick(picker) {
								picker.$emit('pick', new Date());
							}
						}, 
						{
							text: 'Tomorrow',
							onClick(picker) {
								const date = new Date();
								date.setTime(date.getTime() + 3600 * 1000 * 24);
								picker.$emit('pick', date);
							}
						}, 
						{
							text: 'Next week',
							onClick(picker) {
								const date = new Date();
								date.setTime(date.getTime() + 3600 * 1000 * 24 * 7);
								picker.$emit('pick', date);
							}
						}
					]
				},
				userRole: auth.userRole()
			};
		},
		methods: {
			approveRequest(){
				let request = {
					approver: auth.user.id,
					expiration: this.expiration,
					has_expiration: this.hasExpiration
				};
				
				requestService.approve(this.$route.params.id, request)
								.then((response) => {
									if(response.status == 200){
										this.$router.replace('/notifications');
									}
								});
			},
			declineRequest(){
				let request = {
					decliner: auth.user.id,
					expiration: this.expiration,
					has_expiration: this.hasExpiration,
					reason: this.reason
				};
				
				requestService.decline(this.$route.params.id, request)
								.then((response) => {
									if(response.status == 200){
										this.$router.replace('/notifications');
									}
								});
			},
			getNotificationInfo(){
				if(auth.loggedIn()){
					auth.getUserInfo(null, (response) => {
						requestService.getRequestInfo(this.$route.params.id)
										.then((response) => {
											this.request = response.data;
										});
					});
					return true;
				}
				requestService.getRequestInfo(this.$route.params.id)
					.then((response) => {
						this.request = response.data;
					});
			},
			goBack(){
				this.$router.replace(sessionStorage.getItem('previousLink'));
			}
		},
		watch: {
			'$route.params.id': function(to, from){
				this.getNotificationInfo();
			}
		}
	}
</script>

<template>
	<div id="notification-options">
		<!-- <router-link :to="userRole == 'admin' ? '/admin/requests': '/records'" class="btn-back">
			<span class="fa fa-arrow-circle-left"></span>
			{{ userRole == 'admin'? 'Back': 'Go to Records' }}
		</router-link> -->
		<a href="#" @click.prevent="goBack" class="btn-back">
			<span class="fa fa-arrow-circle-left"></span> Back
		</a>
	    <div class="row">
		    <div class="col-md-12 col-xs-12">
	            <label class="col-md-12 col-xs-12"><span class="text -md -dark -thick">Itinerary Gate Pass</span></label>

	            <div class="row">
	                <div class="col-xs-12">
	                    <div id="itineraryView" class="">

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thick">Name</span></label>
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thin">{{ request.requested_by }}</span></label>
	                        </div>

	                        <div class="no-space -horizontal col-md-12 col-xs-12" v-if="request.guest">
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thick">Guest Name</span></label>
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thin">{{ request.guest }}</span></label>
	                        </div>

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thick">Departure Date</span></label>
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thin">{{ request.departured_date }}</span></label>

	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thick">Time</span></label>
	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thin">{{ request.departured_time }}</span></label>
	                        </div>

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thick">Return Date</span></label>
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thin">{{ request.returned_date }}</span></label>

	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thick">Time</span></label>
	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thin">{{ request.returned_time }}</span></label>
	                        </div>

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thick">Destination</span></label>
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thin">{{ request.destination }}</span></label>
	                        </div>

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thick">Purpose</span></label>
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thin">{{ request.purpose }}</span></label>
	                        </div>

                            <div class="no-space -horizontal col-md-12 col-xs-12">
                                <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Endorsed By</span></label>
                                <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">{{ request.endorser }}</span></label>
                            </div>

        					<div class="no-space -horizontal col-md-12 col-xs-12">
        					    <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Approved By</span></label>
        					    <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">{{ request.approver }}</span></label>
        					</div>

        					<div class="no-space -horizontal col-md-12 col-xs-12" v-if="request.actual_departured_at">
        					    <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Actual Departured At</span></label>
        					    <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">{{ request.actual_departured_at }}</span></label>
        					</div>

        					<div class="no-space -horizontal col-md-12 col-xs-12" v-if="request.actual_returned_at">
        					    <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thick">Actual Returned At</span></label>
        					    <label class="col-md-4 col-xs-6"><span class="text -xs -dark -thin">{{ request.actual_returned_at }}</span></label>
        					</div>

	                        <!-- <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thick">Approver</span></label>
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thin">Eggar Morbid</span></label>
	                        </div> -->

	                    </div>
	                </div>
	            </div>

	            <label class="col-md-12 col-xs-12" v-if="request.vehicle"><span class="text -md -dark -thick">Vehicle Gate Pass</span></label>

	            <div class="row" v-if="request.vehicle">
	                <div class="col-xs-12">
	                    <div id="itineraryView" class="">

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thick">Name</span></label>
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thin">{{ request.vehicle.name }}</span></label>
	                        </div>

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thick">Description</span></label>
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thin">{{ request.vehicle.description }}</span></label>

	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thick">Plate Number</span></label>
	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thin">{{ request.vehicle.plate_number }}</span></label>
	                        </div>

	                    </div>
	                </div>
	            </div>

	            <label class="col-md-12 col-xs-12" v-if="request.items"><span class="text -md -dark -thick">Item Gate Pass</span></label>

	            <div class="row" v-if="request.items" v-for="item in request.items">
	                <div class="col-xs-12">
	                    <div id="itineraryView" class="">

	                        <div class="no-space -horizontal col-md-12 col-xs-12">
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thick">Name</span></label>
	                            <label class="col-md-4 col-xs-6 _word-wrap"><span class="text -xs -dark -thin">{{ item.name }}</span></label>

	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thick">Quantity</span></label>
	                            <label class="col-md-2 col-xs-6"><span class="text -xs -dark -thin">{{ item.quantity }}</span></label>
	                        </div>

	                    </div>
	                </div>
	            </div>

				<label v-if="request.status == 'declined'" class="col-md-12 col-xs-12"><span class="text -md -dark -thick">Reason</span></label>
				<div class="row" v-if="request.status == 'declined'">
					<div class="col-sm-12">
						<div id="itineraryView">
							<div class="no-space -horizontal col-md-12 col-xs-12">
								<label class="col-md-4 col-xs-6 _word-wrap">
									<span class="text -xs -dark -thick">{{ request.reason ? request.reason : 'No Reason Provided'  }}</span>
								</label>
							</div>
						</div>
					</div>
				</div>
            </div>
	    </div>
	</div>
</template>