<script>
	let auth = require('./../services/Auth');
	let requestService = require('./../services/Request');
	export default {
		created(){
			this.loading = true;
			auth.getUserInfo(null, (response) => {
				requestService.getRequests(this.tableConfig, auth.user.id, this)
					.then((response) => {
						this.loading = false;
					});
			});
		},
		data(){
			return {
				requests: [],
				loading: false,
				tableConfig: {
					size: 10,
					currentPage: 1,
					layout: 'prev, pager, next',
					search: {
						keyword: null,
						date_requested: '',
						form_type: '',
						status: ''
					},
					options: {
						role: null
					}
				},
				pickerOptions: {
					shortcuts: [
						{
							text: 'Today',
							onClick(picker) {
								picker.$emit('pick', new Date());
							}
						}, 
						{
							text: 'Yesterday',
							onClick(picker) {
								const date = new Date();
								date.setTime(date.getTime() - 3600 * 1000 * 24);
								picker.$emit('pick', date);
							}
						}, 
						{
							text: 'Last week',
							onClick(picker) {
								const date = new Date();
								date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
								picker.$emit('pick', date);
							}
						}
					]
				}
			};
		},
		methods: {
			changePage(currentPage){
				this.tableConfig.currentPage = currentPage;
				this.loading = true;
				requestService.getRequests(this.tableConfig, auth.user.id, this)
								.then((response) => {
									this.loading = false;
								});
			},
			search(){
				this.loading = true;
				if(typeof this.tableConfig.search.date_requested == 'object'){
					var month = this.tableConfig.search.date_requested.getMonth() + 1; //months from 1-12
					var day =  this.tableConfig.search.date_requested.getDate();
					var year =  this.tableConfig.search.date_requested.getUTCFullYear(); 
					this.tableConfig.search.date_requested = year + "-" + month + "-" + day; 
				}
				requestService.getRequests(this.tableConfig, auth.user.id, this)
								.then((response) => {
									this.loading = false;
								});
			}
		}
	}
</script>

<template>
	<request-records type="" 
					:table-config="tableConfig"
					:picker-options="pickerOptions"
					:change-page="changePage"
					:search="search"
					:requests="requests"
					:loading="loading"
					:row-clickable="true"></request-records>
</template>