
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "styles";
@import "responsive";
body{
	overflow-x: hidden;
}

.tab-content{
	overflow: hidden;
}
// .fade-enter-active, .fade-leave-active {
// 	-webkit-animation-duration: 1s;
// 	animation-duration: 1s;
// 	-webkit-animation-fill-mode: both;
// 	animation-fill-mode: both;

// 	-webkit-animation-name: slideInRight;
// 	animation-name: slideInRight;
    
// }
// .fade-enter, .fade-leave-active {
// 	-webkit-animation-duration: 1s;
// 	animation-duration: 1s;
// 	-webkit-animation-fill-mode: both;
// 	animation-fill-mode: both;

// 	-webkit-animation-name: slideOutLeft;
// 	animation-name: slideOutLeft;
// }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.slide-from-left-enter-active, .slide-from-left-leave-active {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
    
}
.slide-from-left-enter, .slide-from-left-leave-active {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	-webkit-animation-name: slideOutLeft;
	animation-name: slideOutLeft;
}

.zoom-enter-active, .zoom-leave-active {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	-webkit-animation-name: zoomInDown;
	animation-name: zoomInDown;
    
}
.zoom-enter, .zoom-leave-active {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	-webkit-animation-name: zoomOutUp;
	animation-name: zoomOutUp;
}

.slide-from-right-enter-active, .slide-from-right-leave-active {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
    
}
.slide-from-right-enter, .slide-from-right-leave-active {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	-webkit-animation-name: slideOutRight;
	animation-name: slideOutRight;
}

.flip-enter-active, .flip-leave-active {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	-webkit-animation-name: flipInY;
	animation-name: flipInY;
    
}
.flip-enter, .flip-leave-active {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	-webkit-animation-name: flipOutX;
	animation-name: flipOutX;
}

.request-item-remove{
	border: 0;
    color: red;
    background: #e8e8e8;
    outline: 0 !important;
}

#nprogress {
  position: relative;
  z-index: 9999999;
}

#nprogress .bar{
	background: $accent-color;
}

#nprogress .spinner-icon{
	border-top-color: $accent-color;
	border-left-color: $accent-color;
}

.heading-btn{
	background: #30b34d;
	color: white;
	padding: 5px 10px;
	font-size: 0.4em;
	// vertical-align: middle;
	border-radius: 3px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;

	&:hover{
		background: #213D14;
		text-decoration: none;
		color: white;
	}
}

.el-checkbox__input.is-checked .el-checkbox__inner{
	background-color: #ffffff;
}