/*RESPONSIVE*/
@media only screen and ( max-width: 1280px ) {
}
@media only screen and ( max-width: 1170px ) {
}
@media only screen and (max-width:1130px) {
    /*Request Monitoring Page--------------------------------------------------*/
        .guard-monitoring .title {
            width: 83.333333%;
        }
        .guard-monitoring .no-space .col-sm-2 {
            width:19% !important;
        }
        .guard-monitoring .select-wrapper.col-md-4.col-xs-4 {
            width:29.4% !important;
            padding-right:0;
        }
        .guard-monitoring .request-monitoring-table {
            padding-top:2%;
        }
    }
    @media only screen and (min-width: 992px){
        .request-custom-btn{
            padding-left: 15px;
        }

        .change-password-btn{
            padding-left: 30px;
        }

        .half-submit-btn{
            width: 50% !important;
        }
    }
    @media only screen and (max-width:991px){
        .actual-records .select-wrapper.col-md-4.col-xs-4 {
            width: 48.2% !important;
            margin-top:10px;
        } 
        .bulk-action-requests-btn{
            padding: 0 !important;
        }
    }
     @media only screen and (max-width:900px) {
    
    /*Request Monitoring Page--------------------------------------------------*/
        .guard-monitoring .title {
            width: 79.333333%;
        }     
        .guard-monitoring .select-wrapper.col-md-4.col-xs-4 {
            width: 29% !important;
        }   
    }
     @media only screen and (max-width:850px) {
    /*Request Monitoring Page--------------------------------------------------*/
        .guard-monitoring .title {
            width: 77.333333%;
        }         
        .guard-monitoring .select-wrapper.col-md-4.col-xs-4 {
            width:48% !important;
            padding-right:0;
            margin:5px 0;
        }
        .guard-monitoring .request-monitoring-table {
            padding-top:2%;
        } 
        .actual-records button.btn.-default,
        .guard-monitoring button.btn.-default,
        .guard-monitoring .select-wrapper:after { width:33px !important;}
        .guard-monitoring .no-space .col-sm-6  { margin: 5px 0;}


    }
    @media only screen and (max-width:768px){
        .guard-monitoring .title {
            width: 76.333333%;
        }
        #menu-tabs > li a.-monitoring { font-size: 100%;}
        .settings_site_logo{
            width: 40%;
        }
        .btn.btn-primary.btn-file.upload-site-logo{
            display: block;
            width: 100px;
        }
        .settings_site_logo_container{
            padding-left: 0;
        }
        #dashboard > h2{
            padding-bottom: 30px;
        }

        #dashboard > .row > .col-lg-4{
            width: 50%;
            margin: 0 auto;
        }
    }
    @media only screen and (max-width: 767px){
        .guard-monitoring .select-wrapper.col-md-4.col-xs-4 {
            width: 98% !important; margin:0; 
        }
        #navbar-header{display: none !important;}
        #device-nav{display: block !important;}
    }
    @media only screen and (max-width:667px){
        .guard-monitoring .title { width: 75.333333%; }
        .request-monitoring-table { padding-left:0; padding-right:0;}
        .guard-monitoring .no-space .col-sm-6 { padding:0 !important; }
        .guard-monitoring .select-wrapper.col-md-4.col-xs-4 { width:100% !important; }
        .el-dialog--tiny { width:50%;}
    }
    @media only screen and (max-width:600px){
        .guard-monitoring .no-space .col-sm-2 {            
            padding-right: 15px;
        }
        .guard-monitoring .title {
            width: 70.333333%;
            font-size: 36px;
        }
        .guard-monitoring .select-wrapper.col-md-4.col-xs-4 {
            width: 100% !important;
            padding: 0;
            margin:5px 0;
        }
        #dashboard > .row > .col-md-4{
            width: 100%;
            margin: 0 auto;
        }
    }
    @media only screen and (max-width:414px){
        .guard-monitoring .no-space .col-sm-2 {            
           width:99% !important;
        }
        .guard-monitoring .title {
            width: 99%;
            font-size: 42px;
            text-align: center;
        }
        .guard-monitoring .select-wrapper.col-md-4.col-xs-4 {
            width: 95% !important;
            padding-right: 0;
        }
        .guard-monitoring .select-wrapper:after {
            padding:13px;
        }
        .guard-monitoring .time {
            margin-left:10px;
        }
    }
     @media only screen and (max-width:375px){
        .guard-monitoring .no-space .col-sm-2 {            
           width:99.5% !important;
        }
        .guard-monitoring .title {
            width: 100%;
            font-size: 42px;
            text-align: center;
        }
        .guard-monitoring .select-wrapper.col-md-4.col-xs-4 {
            width: 95% !important;
            padding-right: 0;
        }
        .guard-monitoring .select-wrapper.col-md-4.col-xs-4 { 
            width:100% !important; 
            margin:5px 0;
        }
        .el-dialog--tiny { width:90%;}
        .settings_site_logo{
            width: 100%;
        }
        .navbar-brand{
            width: 80%;
            & > img{
                width: 70% !important;
            }
        }
    }
/*IPAD LANDSCAPE*/
/*================================================================================================*/
@media only screen and ( max-width: 1024px ) {
    #pass-options {
        .fields label span {
            margin-left: 10px;
        }
    }
    
    //Login Page------------------------------------------------------------------
    #login-page {
        .brand > img {
            width: 90%;
            margin: auto;
            display: block;
        }
    }
    
    #login-page {
        section {
            &.login-section {
                padding: 0;
            }
        }
    }
    
    #admin-menu-tabs {
        padding: 10px 20px;
        > li a {
            font-size: 12px;
            padding: 5px;
        }
    }
    
    .text.-md {
        font-size: 15px;
    }
    .header-container{
        width: 100%;
        .navbar-brand > img{
            width: 50%;
        }
    }

    .dashboard-panel{
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and ( max-device-width: 1024px ) and ( orientation: landscape ) {
}
/*================================================================================================*/

@media only screen and ( max-width: 991px ) {
    #request-form {
        textarea, input {
            width: 100% !important;
        }
        textarea {
            min-height: 140px;
        }
    } 
}

@media only screen and ( max-width: 980px ) {
}
@media only screen and ( max-width: 979px ) {
}
@media only screen and ( max-width: 800px ) {
    
}

@media only screen and ( min-width: 768px ) and ( max-width: 780px ) {
}

/*IPAD PORTRAIT*/
/*================================================================================================*/
@media only screen and ( max-width: 768px ) {
    $whitespace-value: 0px;
    
    //Login Page------------------------------------------------------------------
    #login-page {
        .brand > img {
            width: 80%;
            margin: auto;
            display: block;
        }
    }
    
    #login-page {
        > #content.center {
            width: 60% !important;
            height: auto;
            position: absolute;
            left: 35%;
            top: calc(50% - 80px);
            margin-left: -15%;
            margin-top: -15%;
        }
    } //End Style
    
    label {padding: 5px 0px !important;}
    
    .form {
        label span {
            font-size: 16px;
            font-weight: 400;
        }

        &.-center {
            width: 100%;
            margin: auto;
            float: none;
        }
    }
    
    #pass-options {
        .fields {
            padding: 0;
        }
        .fields label span {
            margin-left: 0px;
        }
    }
    
    #menu-tabs {
        > li a {
            // font-size: 0px;
        }
    }
    
    .brand-centered {
        float: left;
        width: 50%;
    }
    
    .add-space.-left {
        margin-left: $whitespace-value;
    }
    
    .text.-left {
        text-align: center;
        margin: auto;
        display: block;
        float: none;
    }
    .tab-content {
        h2 {
            text-align: center;
            margin: auto;
            display: block;
            float: none;
        }
    }
    
    #tableView label {
        top: 0px;
        left: 0px;
    }

    #login-page section.login-section{
        padding-top: 20px;
    }

    .dashboard-panel{
        width: 100%;
    }

    #dashboard > .row > .col-lg-4{
        width: 100%;
    }
}
@media only screen and ( max-device-width: 768px ) and ( orientation: portrait ) {
}
/*================================================================================================*/

@media only screen and ( min-width: 767px ) and ( max-width: 979px ) {
}
@media only screen and ( max-width: 767px ) {
}
@media only screen and ( max-width: 736px ) {
}

/*IPHONE LANDSCAPE*/
/*================================================================================================*/
@media only screen and ( max-width: 667px ) {
    #modalPopup textarea {
        min-height: 120px;
    }

    #dashboard > h2{
        padding-bottom: 25px;
    }

    .dashboard-panel{
        width: 100%;
    }
}
@media only screen and ( max-device-width: 667px ) and ( orientation: landscape ) {
/*ENTER STYLES*/
}
/*================================================================================================*/

@media only screen and ( max-width: 660px ) {

}
@media only screen and ( max-width: 640px ) {
}
/*TAB 3 PORTRAIT*/
/*================================================================================================*/
@media only screen and ( max-width: 600px ) {
    .brand-centered {
        float: none;
        width: 80%;
        margin: auto;
    }
    
    //Login Page------------------------------------------------------------------
    #login-page {
        .brand > img {
            width: 80%;
            margin: auto;
            display: block;
        }
    }
    
    #login-page {
        > #content.center {
            width: 90% !important;
            height: auto;
            position: absolute;
            left: 20%;
            top: 30%;
            margin-left: -15%;
            margin-top: -15%;
        }
    } //End Style
}
/*================================================================================================*/

@media only screen and ( max-width: 560px ) {
}
@media only screen and ( max-width: 480px ) {
}
@media only screen and ( max-width: 414px ) {

}

/*IPHONE PORTRAIT*/
@media only screen and ( max-width: 375px ) {
    #tableView label {
        top: 0px;
        left: 0px;
    }
    
    .brand-centered {
        float: none;
        width: 80%;
        margin: auto;
    }
    
    #no-tabs {
        span {
            text-align: center;
        }
    }
    
    #admin-menu-tabs {
        > li a {
            font-size: 0px;
            padding: 5px;
        }
    }
    
    #modalPopup textarea {
        min-height: 200px;
    }

    #dashboard > h2{
        padding-bottom: 30px;
    }
}
@media only screen and ( max-device-width: 375px ) and ( orientation: portrait ) {
/*ENTER STYLES*/
    .brand {
        width: 42%;
    }
}
/*================================================================================================*/

@media only screen and ( max-width: 360px ) {
}
@media only screen and ( max-width: 360px ) {
}

@media only screen and ( max-width: 320px ) {
}