// @import 'https://fonts.googleapis.com/css?family=Raleway:400,600,700,900';
// @import 'https://fonts.googleapis.com/css?family=Poppins:400,500,700';
// @import 'http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css';

//COLORS
//$primary-color: #3C6403;213d14
$primary-color: #213d14;
$accent-color: #30b34d;

$color-affirmative: #30b34d;
$color-negative: #F01111;
$color-dark: #212121;
$color-light: #fff;
//Shades of Gray
$grey-normal: #777;
$grey-light: #cecece;
$grey-lighter: #e8e8e8;
$grey-lightest: #f5f5f5;
//Shades of green
$green-light: #30b34d;

$font-main: "Poppins", sans-serif;
//$font-alt: ;

$whitespace-value: 15px;

//MIXINS------------------------------------------------------------------
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
     -moz-appearance: $appearance;
      -ms-appearance: $appearance;
          appearance: $appearance;
}

//MIXINS------------------------------------------------------------------

body {
    color: $primary-color;
    font-family: $font-main;
    background: #e8e8e8;
}
.container {
    width: 90%;
}
a {
    color: $accent-color;
}

i.icon {
    font-style: normal;
}
.icon {
    
    &:before {
        font-family: FontAwesome;
    }
    &.-add:before {
        content: "\f055";
    }
    &.-settings:before {
        content: "\f013";
    }
    &.-request:before {
        content: "\f145";
    }
    &.-notifications:before {
        content: "\f0a2";
    }
    &.-notifications-alt:before {
        content: "\f0f3";
    }
    &.-vehicle:before {
        content: "\f0d1";
    }
    &.-list:before {
        content: "\f03a";
    }
    &.-records:before {
        content: "\f02d";
    }
    &.-cog:before {
        content: "\f013";
    }
    &.-check:before {
        content: "\f00c";
    }
    &.-search:before {
        content: "\f002";
    }
    &.-check:before {
        content: "\f058";
    }
    &.-dashboard:before {
        content: "\f009";
    }
    &.-document:before {
        content: "\f15c";
    }
    &.-check-circle:before {
        content: "\f058";
        color:$grey-normal;
    }
    &.-check-circle-activate:before {
        content: "\f058";
        color:$green-light !important;
    }
}

//text color styles
.text {
    &.-main-color {
        color: $primary-color;
    }
    &.-accent {
        color: $accent-color;
    }
    &.-dark {
        color: $color-dark;
    }
    &.-light {
        color: $color-light;
    }
    &.-grey.-normal {
        color: $grey-normal;
    }
    &.-grey.-light {
        color: $grey-light;
    }
    &.-grey.-lighter {
        color: $grey-lighter;
    }
    &.-grey.-lightest {
        color: $grey-lightest;
    }
}

//text thickness
.text {
    &.-normal {
        font-weight: 400;
    }
    &.-thick {
        font-weight: 800;
    }
    &.-thin {
        font-weight: 100;
    }
}

//text position
.text {
    &.-center {
        text-align: center;
    }
    &.-right {
        text-align: right;
    }
    &.-left {
        text-align: left;
    }
    &.-xl {
        font-size: 42px;
    }
    &.-lg {
        font-size: 30px;
    }
    &.-md {
        font-size: 22px;
    }
    &.-sm {
        font-size: 16px;
    }
    &.-xs {
        font-size: 12px;
    }
}

span {
    &.title {
        font-size: 16px;
        padding: 5px 0;
    }
    &.subtitle {
        font-size: 12px;
        padding: 5px 0;
    }
    > .-default {
        color: $color-affirmative;
    }
    > .-warning {
        color: $color-negative;
    }
    &.icon:before {
        padding-right: 16px;
    }
    > a.icon:before {
        padding-right: 10px;
    }
}

.badge-notify{
       background: red;
    position: relative;
    top: -32px;
    left: 16px;
    padding-top: 6px;
  }

//Spacing
.no-space {
    &.-all {
        padding: 0;
        margin: 0;
    }
    &.-horizontal {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    &.-vertical {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.add-space {
    &.-top {
        margin-top: $whitespace-value;
    }
    &.-left {
        margin-left: $whitespace-value;
    }
    &.-bottom {
        margin-bottom: $whitespace-value;
    }
    &.-right {
        margin-right: $whitespace-value;
    }
}

.add-whitespace {
    &.-xl {
        height: 60px;
    }
    &.-lg {
        height: 40px;
    }
    &.-md {
        height: 32px;
    }
    &.-sm {
        height: 24px;
    }
    &.-xs {
        height: 15px;
    }
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #cecece;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $accent-color;
}

label {
    color: $accent-color;
    padding: 8px 10px;
}
input, textarea, select {
    margin-bottom: 5px;
    padding: 8px 10px;
    border: 1px solid #cecece;
    background: #fff;
    @include appearance(none);
    @include border-radius(0px);
}

input[type="text"] {
    @include appearance(none);
}

.select-wrapper {
    background: #fff;
    position: relative;
    padding: 0;
    margin-bottom: 5px;
    overflow: hidden;
    select, input {
        margin-bottom: 0;
        @include appearance(none);
    }
    input {
        background: transparent;
        z-index: 100;
        @include appearance(none);
    }
    button, a {
        display: inline-block;
        position: absolute;
        right: 0;
        width: 40px !important;
        height: 100%;
        padding: 10px;
        border-radius: 0 !important;
        z-index: 200;
    }
    &:after {
        color: #fff;
        font-family: FontAwesome;
        background: $accent-color;
        position: absolute;
        right: 0;
        height: 100%;
        padding: 10px;
        z-index: 0;
        width: 40px;
        text-align: center;
        z-index: 100;
    }
    &.-caret:after {
        content: "\f0d7";
    }
    &.-calendar:after {
        content: "\f073";
    }
    &.-search:after {
        content: "\f002";
    }
}
select {
    cursor: pointer;
    
    @include border-radius(0px);
    @include appearance(none);
    background-position-x: 95%;
    background: transparent;
    z-index: 100;
}

//Hide checkbox style
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 0;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label > span.checker,
input[type=radio]:not(old) + label > span.checker{
//    content: "";
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    padding: 3px;
    margin: 0 1em 0em 0;
    border: 0.1em solid #777;
    border-radius: 0;
    background: rgb(255,255,255);
    vertical-align: sub;
}

input[type=checkbox]:not(old):checked + label > span.checker:before{
    content     : "\f00c";
    font-family: FontAwesome;
    display     : block;
    width       : 1em;
    color       : #212121;
    font-size   : 0.875em;
    line-height : 1em;
    text-align  : center;
    text-shadow : 0 0 0.0714em rgb(115,153,77);
    font-weight : bold;
}

.center {
    text-align: center;
    margin: auto;
    display: block;
    float: none;
}
.right {
    text-align: right;
    margin: auto;
    display: block;
}

.brand-centered {
    float: left;
    width: 20%;
    
    img {
        width: 100%;
        display: block;
        margin: auto;
        
    }
}
#device-nav{
    display: none !important;
    border: 0;
    .nav{
        background: white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, .4);
    }
}
.navbar {
    &.navbar-default {
        background: #fff;
        height: 105px;
        box-shadow: 0px 2px 8px rgba(33, 33, 33, 0.2);
        width: 90%;
        // padding: 0px 15px;
        margin: auto;
        margin-bottom: 15px;
        position: relative;
        z-index: 999;
    }
    > .navbar-inner {
        position: relative;
        top: 15px;
    }
}

.navbar-nav {
    position: relative;
    top: 10px;
    
    li {
        &.active {
            a {
                font-weight: 700;
                color: $primary-color !important;
                background-color: transparent !important;
            }
            
        }
    }
} //End Style

#navbar-header a.icon {
    
    &:before {
        color: $primary-color;
        font-size: 30px;
        font-weight: normal;
        position: relative;
        display: block;
        margin: auto;
        text-align: center;
        left: 0;
        right: 0;
    }
}

#content-area {
    padding: 0;
    background: #fff;
    box-shadow: 0px 2px 8px rgba(33, 33, 33, 0.2);
}

#no-tabs {
    padding: 45px 30px 20px;
}

/* The animation code */
@keyframes example {
    0%   {border-top: 8px solid $accent-color; color: $accent-color;}
    25% {border-top: 8px solid $primary-color; color: $primary-color;}
    50% {border-top: 8px solid $primary-color; color: $primary-color;}
    100% {border-top: 8px solid $accent-color; color: $accent-color;}
}
#menu-tabs {
    > li {
        padding: 0;
        
        > a {
            color: $accent-color;
            margin-right: auto;
            text-align: center;
            padding: 25px 10px;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            background: #f5f5f5;
            border-top: 8px solid transparent;
            border-radius: 0;
        }
    }
    > li a.router-link-active {
            background: #fff;
            border-bottom: 1px solid transparent;
            border-left: 0px;
            border-right: 0px;
            border-top: 8px solid $accent-color;
            border-bottom-color: transparent;
            border-radius: 0;
        }
    > li a:hover {
            background: #fff;
            border-bottom: 1px solid transparent;
            border-left: 0px;
            border-right: 0px;
            border-top: 8px solid $primary-color;
            border-bottom-color: transparent;
            border-radius: 0;
        
            animation-name: example;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        
        -webkit-transition: background 0.8s, border-top 0.8s;
           -moz-transition: background 0.8s, border-top 0.8s;
             -o-transition: background 0.8s, border-top 0.8s;
                transition: background 0.8s, border-top 0.8s;
        }
}



#menu-tabs a.icon {
    
    &:before {
        font-size: 30px;
        font-weight: normal;
        position: relative;
        display: block;
        margin: auto;
        text-align: center;
        left: 0;
        right: 0;
    }
}

//Admin Menu Styles
#admin-menu-tabs {
    background: #f5f5f5;
    > li {
        padding: 0;
        background: transparent;
        
        > a {
            color: $primary-color !important;
            margin-right: auto;
            text-align: center;
            padding: 25px;
            font-size: 18px;
            font-weight: 400;
            background: transparent;
            border: 0;
            
//            border-top: 8px solid transparent;
            border-radius: 0;
        }
        > a:hover {
            color: $accent-color !important;
            background: transparent;
            
            -webkit-appearance: color 0.6s;
             -moz-appearance: color 0.6s;
              -ms-appearance: color 0.6s;
                  appearance: color 0.6s;
        }
    }
    > li.menu-header {
        margin: 20px 0px;
        background: transparent;
    }
    > li a.router-link-active {
        color: $accent-color !important;
        border: 0;
    }
}

#admin-menu-tabs a.icon {
    
    &:before {
        font-size: 45px;
        font-weight: normal;
        position: relative;
        display: block;
        margin: auto;
        text-align: center;
        left: 0;
        right: 0;
    }
}

.tab-content {
    background: #fff;
    margin: 0;
    padding: 20px 60px 50px 60px;
}

.form {
    label span {
        font-size: 16px;
        font-weight: 400;
    }
    
    &.-center {
        width: 60%;
        margin: auto;
        float: none;
    }
}

//Login Page------------------------------------------------------------------
#login-page {
    .brand > img {
        width: 60%;
        margin: auto;
        display: block;
    }
}

#login-page {
    #content-area {
        padding: 0;
        box-shadow: 0px 0px 0px transparent;
    }
}

#login-page {
    > #content {
        background: #fff;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
        border-radius: 8px;
        padding: 50px 20px;
        
        &.center {
            width: 30%;
            height: auto;
            position: absolute;
            left: 50%;
            top: calc(50% - 80px);
            margin-left: -15%;
            margin-top: -15%;
        }
    }
} //End Style

#login-page {
    section {
        &.login-section {
            padding: 0px 40px;
        }
    }
}
    


//#login-page #content

#login-form {
    input, textarea {
        width: 100%;
        margin: 5px auto;
        padding: 8px 10px;
        @include border-radius(5px);
        border: 1px solid #53863d;
        background: #e8e8e8;
        line-height: normal;
    }
} //End Style

.submit-panel {
    padding-top: 30px;
}

//Button Styles------------------------------------------------------------------
button, a {
    &.btn {
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        padding: 8px;
        @include border-radius(5px);
        margin-bottom: 10px;
        
        &.-default {
            background: $accent-color;
            color: #fff;
            
            &:hover {
                background: #212121;
            }
        }

        &.-default.-outlined{
            background: transparent;
            color: $accent-color;
            border-color: $accent-color;
        }

        &.-default.-outlined:hover{
            color: white;
            background: #212121;
            border-color: #212121;
        }
        
        &.-error {
            background: #F01111;
            color: #fff;
            
            &:hover {
                background: #212121;
            }
        }
        &.-disabled {
            background: #f5f5f5;
            color: #e8e8e8;
            border: 1px solid #cecece;
        }
        &.-warning {
            background: #E86126;
            color: #fff;
            
            &:hover {
                background: #212121;
            }
        }
    }
    
}

//Table Styles------------------------------------------------------------------
#tableView {
    background: #fff;
    
    > thead {
        background: $accent-color;
    }
    th {
        color: #fff;
        font-size: 16px;
        padding: 12px 10px;
        margin: auto;
        vertical-align: middle;
        text-align: center;
        text-transform: uppercase;
    }
    td {
        color: #777;
        font-size: 12px;
        padding: 12px 10px;
        margin: auto;
        vertical-align: middle;
        text-align: center;
    }
}

#tableView input[type=checkbox]:not(old) + label > span.checker,
#tableView input[type=radio   ]:not(old) + label > span.checker{
    margin: 0;
    width: 20px;
    height: 20px;
    padding: 2px;
}
#tableView input[type=checkbox]:not(old):checked + label > span.checker:before {
    font-size: 14px;
}
#tableView label {
    padding: 0;
    margin: auto;
    position: relative;
    top: -10px;
    left: 5px;
}

.table-striped tbody {
    > tr:nth-of-type(odd) {
        background-color: #e8e8e8;
    }
}

//Records Tab Styles------------------------------------------------------------------
#pass-options {
    .fields {
        padding: 0;
    }
    .fields label span {
        margin-left: 40px;
    }
}

#request-form {
    textarea {
        width: 66.6% !important;
        min-height: 140px;
    }
} 

.form-group.required .control-label:after { 
   content:" * ";
   color:red;
}

#modalPopup {
    textarea {
        width: 100% !important;
        min-height: 400px;
    }
}

#modalPopup {
    .modal-footer button {
        width: 40%;
        margin: auto;
        float: none;
        position: absolute;
        left: 20%;
        right: 20%;
    }
    .modal-footer .submit-btn {
        position: relative;
        height: 40px;
    }
}

/* fix for scrollbar table on mobile */
div.table-responsive {
    overflow-x: scroll !important;
    -webkit-overflow-scrolling: touch !important;
}

div.table-responsive::-webkit-scrollbar {
    -webkit-appearance: scrollbar;
    width: 6px !important;
    -webkit-appearance: none !important;
 }

div.table-responsive::-webkit-scrollbar:vertical {
    width: 9px;
}
div.table-responsive::-webkit-scrollbar:horizontal {
    height: 9px;
}

 /* Track */
div.table-responsive::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
 }

 /* Handle */
div.table-responsive::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
   background: #cecece !important; 
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important; 

 }
div.table-responsive::-webkit-scrollbar-thumb:window-inactive {
   background: #30b34d !important; 
 }

.ui-datepicker{
    background: #fff;
}

._width-auto{
    width: auto !important;
}

._block{
    display: block !important;
    width: 100% !important;
}

.user-remove-btn{
    font-size: 0.7em;
    width: 20px !important;
    height: 20px !important;
    line-height: 10px;
    text-align: center;
    padding: 0 !important;
}

.user-searcher{
    padding-bottom: 20px;
    // border-bottom: 1px solid #eeeeee;
    margin-bottom: 20px;

    .selected-users.-with-hover .user{
        cursor: pointer;
    }

    .selected-users.-with-hover .user:hover{
        background: $color-dark;
        color: #fff;
    }
}

.selected-users {
    list-style: none;
    padding: 0;
    margin: 0;
    
    .user{
        text-align: left;
        padding: 10px 15px;
        display: block;
        background: $grey-lightest;
        color: $color-affirmative;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
    }
}

.search-results{
    position: absolute;
    width: 100%;
    top: 35px;
    z-index: 999;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    max-height: 150px;
    overflow: auto;
    .user-remove-btn{
        padding: 0 10px !important;
        margin-right: 5px;
        width: auto !important;
    }
}

#toast-container {
    & > .toast-success{
        background-color: $accent-color;
    }
}

.link{
    outline: 0 !important;
    background: transparent;
    border: 5px;
    border-radius: 5px;
    font-size: 0.9em;

    &.-toggled{
        color: $accent-color;
        font-weight: bold;
    }
}

._full-width{
    width: 100% !important;
}

.select-wrapper.control.-sm:after{
    line-height: normal;
}
.control{
    &.-sm{
        padding: 3px 10px;
    }
}

._no-padding{
    padding: 0 !important;
}
._no-top{
    top: 0 !important;
}

._no-left{
    left: 0 !important;
}

._position-relative{
    position: relative !important;
}

.table-pagination{
    padding-top: 20px;
}

.input-clone{
    border: 1px solid rgb(206, 206, 206);
    color: #222;
    font-weight: normal;
    min-height: 40px;
}

.top-header-navbar{
    border-radius: 0;
    border-left: 5px solid #30B34D;
    border-right: 5px solid #30B34D;
    padding: 0;

    & > li > a{
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        font-size: 1.2em;
    }
}

.request-form-name{
    padding: 0;

    & > input{
        width: 100%;
        line-height: normal;
    }

    & > input.-disabled{
        width: 100%;
        background: #F5F5F5;
        outline: 0 !important;
        line-height: normal;
    }

    & > #request-name-remove{
        display: block;
        position: absolute;
        right: -25px;
        top: 10px;
        font-family: 'FontAwesome';
        cursor: pointer;
        color: $accent-color;
        padding: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 10px;
        background: transparent;
        border: 2px solid $accent-color;
        outline: 0 !important;
    }
    
    & > #request-name-remove:hover{
        color: $primary-color;
        border-color: $primary-color;
    }
}

.make-request-btn{
    position: absolute;
    top: 20px;
    right: 0;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 53px;
    color: white;
    background: $accent-color;
    border-radius: 50%;
    font-size: 2em;
    z-index: 999;
    box-shadow: 0px 2px 8px rgba(33, 33, 33, 0.2);

    &:hover{
        color: #fff !important;
        background: $primary-color !important;
    }

    &:focus{
        background: $accent-color;
        color: #fff;
    }
}

.notification-item{
    word-wrap: break-word;
    word-break: break-word;
    width: 90%;
    & > .remove-notification{
        display: none;
    }
}

.notification-item:hover > .remove-notification{
    display: inline;
}

// Element UI Overrides
.el-table .el-checkbox{
    padding-left: 0;
    padding-right: 0;    
}

.el-checkbox__inner::after{
    border-color: $accent-color;
}

.el-checkbox__inner.is-checked{
    background-color: white;
    border-color: $accent-color;
}

.el-table th,
.el-table th > .cell{
    background: $accent-color;
    color: white;
}

.el-pager li:hover{
    color: $accent-color;
}

.el-pager li.active{
    border-color: $accent-color;
    background-color: $accent-color;
}

.el-pager li.active:hover{
    color: white;
}
.el-table .sort-caret.ascending{
    border-bottom-color: #fff;
}
.el-table .sort-caret.descending{
    border-top-color: #fff;
}

.el-checkbox__inner{
    border-radius: 0;
}

.el-date-editor{
    width: 100% !important;
}

.el-date-editor.is-have-trigger .el-date-editor__editor,
.el-input-number .el-input__inner{
    border-radius: 0;
}

.el-date-editor__trigger.el-icon{
    color: #fff;
    background: $accent-color;
    width: 33px;
    text-align: center;
    right: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn.upload-site-logo {
    margin-top: 15px;
}
.el-loading-spinner .el-loading-text{
    color: $accent-color;
}

.el-loading-spinner .path{
    stroke: $accent-color;
}

.el-input-number__decrease:hover, .el-input-number__increase:hover{
    color: $accent-color;
}

.el-button:hover{
    color: $accent-color;
    border-color: $accent-color;
}

.el-button--primary{
    color: #fff;
    background: $accent-color !important;
    border-color: $accent-color !important;

    &:hover{
        color: #fff;
        background: $color-dark !important;
        border-color: $color-dark !important;
    }
}

.el-message-box__wrapper{
    z-index: 999999 !important;
}

.req-filter{
    height: 36px;
    line-height: normal;
    width: 100%;
}

#notification-modal .form.-center{
    width: 100% !important;
}

#admin-menu-tabs{
    width: 90%;
    margin: 0 auto;
}

#admin-menu-tabs a.icon:before{
    font-size: 30px;
}

#admin-menu-tabs > li > a{
    font-size: 1.1em;
    padding: 15px;
}

.admin-view .tab-content{
    padding-top: 0;
    padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6, .page-header{
    margin-top: 0;
}

.add-whitespace.-sm{
    height: 0;
}

.no-tabs{
    padding-top: 5px;
}

.el-dialog__body{
    position: relative;
}

.relative-loader-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .98);
    left: 0;
    top: 0;
    z-index: 1;
    
    & > .el-icon-loading{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        color: $accent-color;
    }
}

.el-table th > .cell{
    font-size: .9em;
}

.form label span{
    font-weight: 600;
}

.tbl-btn{
    display: inherit;
    width: auto !important;
    margin: 0 3px;
    padding: 6px  12px !important;
    font-size: 0.6em !important;
    border: 0 !important;
    border-radius: 0 !important;
    background: $accent-color !important;
    margin-bottom: 3px;
    &:hover,
    &:active{
        background: darken($accent-color, 7%) !important
    }
}

.tbl-action {
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px;
    font-size: 18px;
}

.btn-back {
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px;
    font-size: 18px;
    text-decoration: none !important;
}

.el-notification__group p{
    text-align: left;
}

._word-wrap{
    word-wrap: break-word;
    word-break: break-word;
}

.icon.-search:before{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.select-wrapper.-caret:after{
    line-height: 16px;
}

.sidebar-menu-toggle{
    display: none;
}

.el-date-editor__trigger.el-icon{
    width: 40px;
}

@media only screen and (max-width: 768px){
    .tab-content{
        padding: 20px;
    }

    #admin-title{
        margin-left: 0 !important;
    }

    #no-tabs{
        padding: 0;
    }

    .admin-view .tab-content{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #admin-menu-tabs{
        position: fixed;
        left: -105px;
        top: 0;
        padding: 0 !important;
        z-index: 999;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, .4);
        transition: all .3s ease;
        &.-active{
            left: 0px;
        }
    }

    #admin-menu-tabs > li{
        padding: 0;
        display: block;
        background: transparent;
        float: none;
        width: 100%;
    }

    #admin-menu-tabs a.icon:before{
        font-size: 50px;
    }

    .admin-view .tab-content{
    }

    .sidebar-menu-toggle{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background: #30b34d;
        color: white !important;
        width: 50px;
        height: 50px;
        font-size: 1.5em;
        border: 1px solid #0e982c;
        border-left: 0;
        outline: 0 !important;
        transition: all .3s ease;
        text-align: center;
        line-height: 40px;
    }

    .sidebar-menu-toggle.-active{
        left: 100px;
    }
    
    .select-wrapper{
        input,
        select{
            width: 100%;
        }
    }

    .submit-panel{
        padding-top: 0;
    }

    .submit-panel.-button{
        padding-top: 10px;
    }

    .user-filter,
    .vehicle-filter{
        padding: 10px 0 !important;
    }

    hr{
        margin-bottom: 10px;
    }

    .brand-centered{
        width: 50% !important;
    }

    #post-vehicle input[type="text"],
    #post-vehicle input[type="password"],
    #post-vehicle input[type="number"],
    #post-vehicle input[type="email"],
    #post-vehicle textarea,
    input[name="endorser_keyword"],
    input[name="approver_keyword"]{
        display: block;
        width: 100%;
    }

    .user-searcher{
        padding-bottom: 0;
        margin-bottom: 10px;
    }

    .selected-users-container{
        margin-bottom: 10px;
    }

    .input-clone{
        width: 100%;
        padding: 5px !important;
    }

    h2.page-header > div{
        font-size: 1.1em;
    }

    .user-toggle-filter{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 668px){
    #login-page{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 375px){}

.el-table.el-table--striped tr:nth-child(even){
    background: #FAFAFA;
}

.el-table--striped .el-table__body tr:nth-child(2n) td{
    background: transparent;
}

.dashboard-panel{
  display: block;
  padding: 0px 0px 0px 100px;
  border-radius: 3px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .08);
  height: 81px;
  overflow: hidden;
  margin-bottom: 20px;

  &:hover,
  &:active,
  &:focus{
    text-decoration: none !important;
    background: 0px 1px 13px rgba(0, 0, 0, 0.28);
    border-color: #30B34D;
  }
  
  & > .icon{
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2em;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    color: white;
  }

  & > .icon > i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  & > .description > .count{
    display: block;
    font-size: 2em;
    line-height: 20px;
    padding-top: 20px;
    font-weight: bold;
  }
  
  & > .description > .title{
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
  }

  &.-default > .icon{
    background: $accent-color;
  }

  &.-default > .description > .count{
    color: $accent-color;
  }

  &.-primary > .icon{
    background: #30A5FF;
  }

  &.-primary > .description > .count{
    color: #30A5FF;
  }

  &.-success > .icon{
    background: #1EBFAE;
  }

  &.-success > .description > .count{
    color: #1EBFAE;
  }

  &.-warning > .icon{
    background: #FFB53E;
  }

  &.-warning > .description > .count{
    color: #FFB53E;
  }

  &.-danger > .icon{
    background: #F9243F;
  }

  &.-danger > .description > .count{
    color: #F9243F;
  }
}

.navbar-brand{
    padding: 0 !important;
}

input, select {
    line-height: normal;
}

body .el-notification__content{
    text-align: left !important;
}

.el-dialog--small{
    width: 80% !important;
}

input[type=checkbox]:not(old) + label > span.checker, input[type=radio]:not(old) + label > span.checker{
    vertical-align: top;
}
.el-table .cell{
    word-break: break-word;
}
.select-wrapper.-caret > select{
    padding-right: 45px;
}

._clearfix{
    clear: both !important;
}

._no-text-decoration{
    text-decoration: none !important;
}