<script>
	export default {
		data(){
			return {

			};
		}
	}
</script>

<template>
    <div id="create-user">
    	<h2>
    		Create User
    	</h2>

        <create-user-form></create-user-form>
    </div>
</template>