<script>
    let dashboard = require('./../../services/Admin/Dashboard');
	export default {
		created(){
			dashboard.getAllTotalRequests(this);
		},
		data(){
			return {
				baseUrl: baseUrl,
                total: {
                	requests: 0,
                	itemRequests: 0,
                	vehicleRequests: 0
                }
			};
		}
	}
</script>

<template>
    <div id="dashboard">
    	<h2>Dashboard</h2>
    	<div class="row" style="padding-top: 15px;">
    		<div class="col-lg-4">
	    		<router-link :to="'requests'" class="dashboard-panel -default">
	    			<div class="icon"><i class="fa fa-ticket"></i></div>
	    			<div class="description">
	    				<span class="count">{{ total.requests }}</span> <span class="title">Itinerary Requests</span>
    				</div>
	    		</router-link>
    		</div>
    		<div class="col-lg-4">
	    		<router-link :to="'requests'" class="dashboard-panel -default">
	    			<div class="icon"><i class="fa fa-wrench"></i></div> 
	    			<div class="description">
	    				<span class="count">{{ total.itemRequests }}</span> <span class="title">Items Requests</span>
    				</div>
	    		</router-link>
    		</div>
    		<div class="col-lg-4">
	    		<router-link :to="'requests'" class="dashboard-panel -default">
	    			<div class="icon"><i class="fa fa-car"></i></div>
	    			<div class="description">
	    				<span class="count">{{ total.vehicleRequests }}</span> <span class="title">Vehicle Requests</span>
    				</div>
	    		</router-link>
    		</div>
		</div>
    </div>
</template>