<script>
	export default {

	}
</script>

<template>
    <div id="post-vehicle">
    	<h2>
    		Edit Vehicle
    	</h2>

        <post-vehicle-form :id="$route.params.id"></post-vehicle-form>
    </div>
</template>