<script>
	export default {
		data(){
			return {

			};
		}
	}
</script>

<template>
    <div id="post-vehicle">
    	<h2>
    		Create Vehicle
    	</h2>
        <post-vehicle-form></post-vehicle-form>
    </div>
</template>