<script>
	export default {
		data(){
			return {

			};
		}
	}
</script>

<template>
    <div id="requests">
    	<h2 class="page-header">Requests
    		<div>
                  <router-link to="/admin/make-request" class="heading-btn">
                    Add Request             
                  </router-link>      
            </div>
    	</h2>
    	<admin-requests-list></admin-requests-list>
    </div>
</template>