<script>
	export default {
		data(){
			return {

			};
		}
	}
</script>

<template>
    <div id="settings" class="row">
    	<div class="col-sm-12">
    		<h2>Settings</h2>
    		<upload-site-logo></upload-site-logo>
    	</div>
    </div>
</template>