<script>
	export default {

	}
</script>

<template>
    <div id="create-user">
    	<h2>
    		Edit User
    	</h2>

        <create-user-form :username="$route.params.username" :edit-mode="true"></create-user-form>
    </div>
</template>