<script>
	let user = require('./../../services/Admin/User');
	export default {
		data(){
			return {
			};
		},
		methods: {
			
		}
	}
</script>

<template>
	<div id="assign-e-a" class="row">
		<div class="col-sm-12">
			<h2 class="page-header">
				Assign
			</h2>
			<user-selection-control :username="$route.params.username"></user-selection-control>
		</div>
	</div>
</template>