<script>
	export default {
		data(){
			return {
                
			};
		}
	}
</script>

<template>
    <div id="user-list">
    	<h2 class="page-header">
    		<div>Users</div>
    		<router-link to="/admin/users/create" class="heading-btn">
    			Add User    			
    		</router-link>
    	</h2>
        <users-list></users-list>
    </div>
</template>