<script>
	let user = require('./../../services/Admin/User');
	export default {
		created(){
			user.getUserByUsername(this.$route.params.username, this);
		},
		data(){
			return {
				user: {
					username: null,
					first_name: null,
					last_name: null,
					role: null,
					department: null,
					endorsers: [],
					approvers: []
				}
			};
		},
		watch: {
			'$route'(to, from){
				user.getUserByUsername(to.params.username, this);
			}
		}
	}
</script>

<template>
	<div id="user-details">
		<h2 class="page-header">User Details</h2>
		<div class="col-sm-12">
			<div class="submit-panel col-md-12">
			    <label class="col-md-5"><span>USERNAME</span></label>
			    <label class="col-md-7 input-clone">{{ user.username }}</label>
			</div>

		    <div class="submit-panel col-md-12">
		        <label class="col-md-5"><span>FIRST NAME</span></label>
			    <label class="col-md-7 input-clone">{{ user.first_name }}</label>
		    </div>

		    <div class="submit-panel col-md-12">
		        <label class="col-md-5"><span>LAST NAME</span></label>
			    <label class="col-md-7 input-clone">{{ user.last_name }}</label>
		    </div>

		    <div class="submit-panel col-md-12">
		        <label class="col-md-5"><span>EMAIL</span></label>
			    <label class="col-md-7 input-clone">{{ user.email }}</label>
		    </div>

		    <div class="submit-panel col-md-12">
		        <label class="col-md-5"><span>ROLE</span></label>
			    <label class="col-md-7 input-clone">{{ user.role }}</label>
		    </div>

		    <div class="submit-panel col-md-12">
		        <label class="col-md-5"><span>DEPARTMENT</span></label>
			    <label class="col-md-7 input-clone">{{ user.department }}</label>
		    </div>
			
			<div class="row" v-if="user.role != 'Monitoring'">
				<div class="col-sm-12">
					<h2 class="page-header">Assigned Users</h2>
				</div>
			</div>
			
			<user-selection-control v-if="user.role != 'Monitoring'" :editMode="false" :username.sync="$route.params.username"></user-selection-control>

		    <div class="submit-panel col-md-6 col-xs-12">
		    	<router-link v-if="user.role != 'Monitoring'" :to="{ path: '/admin/users/' + user.username + '/assign' }" class="btn -default -outlined">Assign</router-link>
		    </div>
		    <div class="submit-panel col-md-6 col-xs-12">
		    <router-link :to="{ path: '/admin/users/' + user.username + '/edit' }" class="btn -default">Edit</router-link>
		    </div>
		</div>
	</div>
</template>