<script>
	export default {
		data(){
			return {

			};
		}
	}
</script>

<template>
    <div id="vehicle_list">
    	<h2 class="page-header">
    	    <div>
             Vehicles   
            </div>
    		<router-link to="/admin/vehicles/post" class="heading-btn">
    			Add Vehicle    			
    		</router-link>
    	</h2>
    	<vehicles-list></vehicles-list>
    </div>
</template>